[2018-04-03 20:16] asolntsev opened #712 "Add method for repeating action until a condition is met"
## The problem
People often need to re-try `click` if the first click didn't happen.

For example:
1. Click the button
2. A banner should appear
3. If banner hasn't appeared, we conclude that step 1 was not successful (for unknown reason), and we want to re-try step 1.

## Details
We probably should add a "re-trying" method to Selenide:

[code]

[2018-04-09 15:49] svpernova09 commented on #185
Just wanted to say thanks for this PR, saved me a ton of headache finding `--ignore-ssl-errors=yes"`

[2018-04-10 21:01] asolntsev commented on #478
Was implemented in PR #589 and released 2.04.2018 in Selenide 4.11.0

[2018-04-10 21:01] #478 closed

[2018-04-10 21:02] jpratt2 commented on #607
If this is happening in Chrome with the error "element not clickable" I found this solution:

[code]

[2018-04-10 21:11] jpratt2 commented on #675
I cannot duplicate this issue. In Windows 10 and Windows 7, the Chrome browser maximizes to fill the screen. It appears this issue can be marked complete.

[2018-04-10 21:29] asolntsev commented on #607
@jpratt2 Thank you. Actually you can enable this mode with this setting: `Configuration.clickViaJs = true;`

[2018-04-12 16:02] dtuchs opened #713 "Unable to set cookie to browser if used combination of params -Dselenide.fileDownload=PROXY and -Dremote"
## The problem
We used Selenide with 'Selenoid' grid using the standard parameter `-Dremote`.
For downloading files without href attribute, i tried to use parameter `-Dselenide.fileDownload=PROXY`, so, a combination of these parameters results in an error in case that i try to add cookie: `WebDriverException: unable to set cookie` / `Failed to set the 'cookie' property on 'Document': Access is den

[2018-04-20 04:39] pavelpp commented on #712
I have a similar solution as a separate utility class, but it has nothing to do with Selenium, as you can pass any boolean provider / runnable, so not sure if it's worth having it as part of Selenide?

[2018-04-20 04:53] pavelpp commented on #712
Btw, re-naming doWhile to doUntil would make more sense

[2018-04-20 05:13] asolntsev commented on #712
Ok, it seems that nobody likes the idea. Closing the issue.

[2018-04-20 05:13] #712 closed

[2018-04-24 07:49] sanlengjingvv opened #719 "Can not select 'input' element after upgrade 4.11.0"
[code]

[code]

It can't work after upgrade selenide from 4.9.1 to 4.11.0.

[2018-04-24 07:59] asolntsev commented on #719
It seem reasonable for me. You should only call "setSelected" on radiobuttons or checkboxes.

[2018-04-24 08:00] ostap-oleksyn commented on #719
The stacktrace says it all, setSelected() works only on checkbox/option/radio elements. You can't use it on a span element. Try to use this instead:
`$("ivu-checkbox-input").setSelected(true);`

[2018-04-25 08:43] sanlengjingvv commented on #719
`$("ivu-checkbox-input").setSelected(true);` does not work. Selenide gives this error message:

Element should be visible {.ivu-checkbox-input}
Element: '<input class="ivu-checkbox-input" type="checkbox" value="on" displayed:false></input>'

In Chrome console,  I tried this:
[code]

[2018-04-25 15:25] pavelpp opened #720 "Add support for file upload in containerised browsers"
## The problem
Currently uploadFile(File file) method requires file to be available locally. This does not work with browser running remotely, for example in a docker container. It should be possible to pass file path parameter as string, then we could specify file location as seen by remote browser instance.

## Details
Example: we mapped local /resources/files/ directory to a /uploads directory

[2018-04-25 20:10] pavelpp commented on #720
After discussion on selenide slack channel it was pointed out that in order for RemoteWebDriver to see local files it is enough to just initialise webdriver setting Configuration.remote instead of using setWebDriver(remoteWebdriver). Example with testcontainers framework:

[code]

This way passing local File to uploadFile() method will work. If we do use setWebDriver method instead, then we should

[2018-04-25 20:10] #720 closed

[2018-05-04 10:13] BorisOsipov commented on #628
I think it's ok to call it "cssValue" as is in Selenium. It will make reference to the original Selenium method call.

[2018-05-04 10:40] vinogradoff commented on #628
I agree.

Viele Grüße

Alexei Vinogradov

On 4. Mai 2018 at 12:13:48, Boris Osipov (notifications@github.com) wrote:

[2018-05-04 12:10] vinogradoff opened #725 "selenide.browserBinary is ignored for remote WebDriver"
1. Start remote selenium server (e.g. @ http://locahost:4444/wd/hub)
2. Run any test with -Dremote=http://locahost:4444/wd/hub -Dselenide.browserBinary=notexist/chrome

-> browser settings is ignored

Expected: browserBinary path is used on the remote host

[2018-05-04 14:39] vinogradoff commented on #719
Yes, the modern JS frameworks doesn't use <input> for selecting checkbox (it is indeed invisible)- so the best solution is usually don't use setSelected but just click on visual representation of the checkbox.

`$(".ivu-checkbox")click();  // could help`

setSelected (the same as Selenium) handles only the "old-school" plain checkboxes

- [ ] like this one

[2018-05-04 15:17] sergitorralba opened #728 "Add .because to comparison with numbers"
## The problem
Impossible to add a because reason to a "sizeGreaterThan" comparison

## Details
I was trying to have a clearer report and the because option appears on the text option but not in the number comparison

## Tell us about your environment
* **Selenide Version:Selenide v. 4.11.2**

## Code To Reproduce Issue [ Good To Have ]
results.getResults().shouldHave(sizeGreaterThan(1).because("I

[2018-05-05 09:08] stasek opened #729 "Duplicate screenshots since version 4.11.0"
## The problem
Duplicate screenshots since version 4.11.0

## Tell us about your environment
* **Selenide Version:**  4.11.0 +
* **Chrome\Firefox:** 66.0.3359.139 / 59.0.2
* **Browser Driver Version:**  last (use WebDriverManager)
* **Selenium Version:** 3.11
* **OS Version:** Ubuntu 18.04

## Code To Reproduce Issue
[code]

[2018-05-05 18:03] #729 closed

[2018-05-05 18:11] BorisOsipov commented on #728
duplicate of https://github.com/codeborne/selenide/issues/440

[2018-05-05 18:11] #728 closed

[2018-05-06 08:59] #628 closed

[2018-05-06 09:52] #725 closed

[2018-05-09 13:31] #673 closed

[2018-05-09 17:19] rosolko commented on #499
Feel free to reopen with additional information.

[2018-05-09 17:19] #499 closed

[2018-05-09 17:27] rosolko commented on #534
Looks like issue resolved. If some one face issue like that let's create a new one and work with up to date code base.

[2018-05-09 17:27] #534 closed

[2018-05-09 17:31] rosolko commented on #520
Good point to check actual behavior on tests level not on framework feature level.

[2018-05-09 17:31] #520 closed

[2018-05-09 17:36] #474 closed

[2018-05-10 10:58] akoval opened #734 "Incorrect filename of downloaded file"
## Incorrect filename after downloading
Filename of the downloaded file is the same as href. So
`href="myfileblabla.txt?sessioncookie=12345%2323`
will produce file with name "myfileblabla.txt?sessioncookie=12345%2323"

## Details
Need to extract filename from href until `?`

## Tell us about your environment
* **Selenide Version:** 4.11.4
* **Chrome\Firefox\IE Version:** 66
* **OS Version:** Windo

[2018-05-10 11:04] akoval commented on #734
this issue can raise issues on Windows. Not all filenames are valid on Windows OS

[2018-05-10 11:14] rosolko commented on #734
@akoval Can you please specify what type on `fileDownload` do you use in `Configuration`?

[2018-05-10 11:16] akoval commented on #734
@rosolko I use only that

`
        Configuration.browser = "chrome";
        Configuration.timeout = 10000;
`

Should I setup smth specific?

[2018-05-10 11:17] rosolko commented on #734
@akoval Got it. No, you don't. Thanks for information.

[2018-05-10 14:44] MrKorIA opened #738 "JUnit5 and selenide SoftAsserts"
Hello everyone!

For work selenide SoftAssert need annotation @Rule, but in JUnit5 this is annotation abrogated.  How can this be lived with?
http://selenide.org/2015/05/05/selenide-2.16-and-2.17/

* **Selenide Version: 4.11.1
* **JUnit5: 2.6.0

[2018-05-10 15:36] #734 closed

[2018-05-10 16:45] jpratt2 opened #739 ".text() should default to .getValue() for input fields"
## The problem
As an enhancement, I suggest that the .text() method automatically call the .getValue() method for input fields. It seems useless to report an empty value when an input field is populated. I can't imagine any input field actually having an innerText value (or any other text value), am I right?

## Details
The new code may look something like this:

[code]

[2018-05-11 19:31] BorisOsipov commented on #582
fixed by https://github.com/codeborne/selenide/pull/737

[2018-05-11 19:31] #582 closed

[2018-05-12 19:26] rosolko commented on #738
@MrKorIA I wrote simple JUnit5 extension for selenide.
It's duplicate rule from JUnit4.
You can get it by [link](https://github.com/rosolko/selenide-junit5).
Try his out and give feedback please.

[2018-05-16 10:13] rmarinsky commented on #739
It depends on developer's implementation how they handle the users' input.
Sometimes it isn't implemented by web (w3c) standards

[2018-05-16 10:47] rmarinsky commented on #447
Just implement WebDriverEventListener interface from selenium, and put 'waiters' to before methods, such as:
`beforeFindBy`, `beforeClickOn`, `beforeChangeValueOf`
So, I think in selenide, it doesn't need to be developed

[2018-05-17 06:04] sukhjinder-sdei opened #740 "refresh() this command is not working properly"
## refresh() command is not refreshing web page, But if I use WebDriverRunner.getWebDriver().navigate().refresh(); then only page refresh.

## Details

## Environment
* **Selenide Version: 4.11.4**
* **Chrome Version:66.0.3359.139**
* **Browser Driver Version: 2.38**
* **OS Version: Win10**

## Code To Reproduce Issue [ Good To Have ]
refresh()

[2018-05-17 11:50] sukhjinder-sdei commented on #740
@rosolko Thanks for ur quick response.

[2018-05-17 12:05] BorisOsipov commented on #740
@rosolko I see that this code is five year old. Maybe refresh did't work well 5 years ago...
Don't find any reason to keep it as is.

[2018-05-17 12:35] #740 closed

[2018-05-18 10:26] rosolko commented on #738
@MrKorIA Ping! Can you please provide some feedback?

[2018-05-22 15:42] espaciomore commented on #218
I had this problem when I needed to catch all exceptions but I couldn't catch an element not found (throwable) because I use an automation framework and not just selenide alone, It allows me to log only what's necessary for me to know what went wrong.

I have to do the following:
`try {
   $("xxx").click();
} catch(ElementNotFound | Exception ex) {
   fail(ex);
}`

[2018-05-23 16:53] espaciomore opened #745 "Selenide design for Page Fragments"
Sorry If have to override the template, I'm making reference to an issue I posted on another repository:
https://github.com/selenide-examples/google/issues/2

[2018-05-24 20:22] jpratt2 commented on #607
Or how about extending .click with a try catch?
Something like
[code]

[2018-05-24 22:43] ColinJackson22 opened #746 "Selenide download() throws UnknownHostException"
## The problem
I am attempting to download a PDF using the download() method. I receive UndeclaredThrowableException with an UnknownHostException for my target.

## Details
I am on a browser page which has a "Download" button with a href which is valid (if I copy and paste the link into a new tab it works fine). I select the link and call the download() method on it, as below, but receive an excep

[2018-05-27 19:15] CaBocuk opened #747 "IndexOutOfBounds if CollectionElement used as context does not exist"
## The problem
If you use not existing CollectionElement as search context for a collection -> IndexOutOfBounds is thrown

## Details
Such code for looking for Collections
[code]
Produces `java.lang.IndexOutOfBoundsException: Index 0 out-of-bounds for length 0`

But same logic for looking for Elements
[code]
Works fine. And `$$("not-existing-locator").first().$("locator").exists();` has `false` va

[2018-05-28 07:25] gerasimenko-ivan opened #748 "Need configuration option to set Proxy"
Need configuration option to set Proxy.

Selenide checks/downloads new version of chromedriver.exe on the external web-page, which could not be accessed on machine with connection to internet via proxy.

See also stackoverflow question https://sqa.stackexchange.com/questions/33903/set-up-proxy-for-selenide

[2018-05-28 07:32] BorisOsipov commented on #748
Can you try set env variables with proxy settings like
System.setProperty("wdm.proxy", url);
System.setProperty("wdm.proxyUser", url);
System.setProperty("wdm.proxyPass", url);

will it work?

[2018-05-28 07:33] BorisOsipov commented on #748
For details see https://github.com/bonigarcia/webdrivermanager#configuration

[2018-05-28 08:17] gerasimenko-ivan commented on #748
This works fine:
System.setProperty("wdm.proxy", url);
Thanks!

[2018-05-28 08:17] #748 closed

[2018-05-28 08:36] rosolko commented on #738
@MrKorIA ?

[2018-05-29 05:37] sukhjinder-sdei opened #750 "isHeadless method is not working for Chrome headless"
##
We are not getting the right value for isHeadless() in the case using chrome headless

           Configuration.browser = WebDriverRunner.CHROME;
            Configuration.headless=true;

WebDriverRunner.isHeadless() This method  is returning false.

## Tell us about your environment
* **Selenide Version:**4.11.4
* **Chrome** 66.0.3359.181
* **Browser Driver Version:** 2.38.551601
* **OS Versio

[2018-05-29 09:01] #750 closed

[2018-05-29 10:39] #702 closed

[2018-05-30 10:35] learn68 opened #752 "Cannot take screenshot because browser is not started报错"
信息: Detected dialect: OSS
----百度一下
五月 30, 2018 6:21:04 下午 com.codeborne.selenide.impl.ScreenShotLaboratory takeScreenShot
警告: Cannot take screenshot because browser is not started

代码如下：
[code]

[2018-06-01 00:01] jpratt2 commented on #607
Something to consider
[code]

[2018-06-01 06:31] rosolko commented on #607
@jpratt2 As write before - to click via JS just pass configuration parameter.
It calls method:
[code]

[2018-06-01 06:34] rosolko commented on #739
@jpratt2 Agree with @rmarinsky . It's not an issue. Project specific case. For this just override selenide command for your needs or call getValue method that get exact value, not a text.

[2018-06-01 06:34] #739 closed

[2018-06-01 06:36] rosolko commented on #738
Close due to inactivity.

[2018-06-01 06:36] #738 closed

[2018-06-01 11:14] #706 closed

[2018-06-01 15:22] BorisOsipov commented on #607
nope. it still should be fixed in selenide.

[2018-06-04 12:04] asolntsev commented on #745
The question was answered in selenide-examples/google#2

[2018-06-04 12:04] #745 closed

[2018-06-04 12:12] rosolko commented on #752
@learn68 You don't use selenide for this test. You're access to native selenium driver methods, so screensot also should be taken using current driver instance. Or migrate test to selenide.

[2018-06-04 15:20] #752 closed

[2018-06-05 12:51] asolntsev commented on #170
@RocketRaccoon @rosolko Actually it's still an issue. But it's not easy to fix.

I hope it will be fixed when https://github.com/codeborne/selenide/issues/354 gets implemented.

[2018-06-05 13:23] asolntsev commented on #695
@ken-p Yes, definitely, we should implement @cmkatarn suggestion. I will do it.

But it will NOT solve the issue described by @pashidlos.

@pashidlos I recommend you to implement `WebDriverProvider` instead of calling method `WebDriverRunner.setWebDriver()`. Then Selenide will open the browser at the right moment in the right thread. See https://github.com/codeborne/selenide/blob/master/src/test/j

[2018-06-05 14:02] mseele opened #753 "com.codeborne.selenide.ElementsCollection.texts() does not get all texts from a table"
## The problem
Gets all texts from all rows from the first column does not work (see snippet)

## Details
Run the Snippet provided by

[snippet.zip](https://github.com/codeborne/selenide/files/2072637/snippet.zip)

and see the result (which is wrong).

## Tell us about your environment
* **Selenide Version:** 4.12.1
* **Chrome\Firefox\IE Version:** Firefox 60.0.1 (64-Bit) / Chrome 67.0.3396.62 (64

[2018-06-05 14:31] asolntsev commented on #753
@mseele Thank you for the snippet. It makes debugging much easier!

But your code so much complex... What exactly did you want to do there? I hope your tests do not look like this. For example, you have a variable `index` which always has value `0`.

Anyway, it seems to be a problem of Selenium. For some reason, Selenium thinks that this element is invisible, and `getText()` returns empty string f

[2018-06-05 14:47] mseele commented on #753
@asolntsev thanks for looking into this. No, our tests doesn't look like this. It's just a snippet, stripped down as fast as possible from a very complex test (testing the sort order etc.). The same for the html page. It's a html page (saved by selenide test case) stripped down from a complex and big gwt application.

Ok. The guys at selenium tell me its a webdriver bug: https://github.com/Seleniu

[2018-06-05 14:59] asolntsev commented on #753
Yes, please send your code samples. Probably it's better to create a
separate issue for optimization.

On Tue, Jun 5, 2018, 17:47 mseele <notifications@github.com> wrote:

[2018-06-14 09:42] BorisOsipov commented on #553
Implemented in https://github.com/codeborne/selenide/pull/664

[2018-06-14 09:42] #553 closed

[2018-06-20 07:36] rosolko commented on #753
@asolntsev I take a look at this issue and it's got 2 solutions:
1. Get elements texts via JS
2. Get elements texts using Jsoup library
But, unfortunately both solutions has limitations.
For JS -- missing xpath selector support. Support selectors: ByCssSelector, ByClassName, ByTagName and ByName
For Jsoup -- only ByCssSelector supported.

[2018-06-20 07:49] BorisOsipov commented on #753
For GWT Jsoup won't work.
I guess there is no common solution and nothing to do for us.

submit gh issue, please

[2018-06-20 07:55] rosolko commented on #753
@BorisOsipov I think we need aggregated issue about ElementCollection methods refactoring, like `texts` or `toString`
@mseele How GWT application provide it's page source? I mean result of `WebDriverRunner.getWebDriver().getPageSource()` method call.

[2018-06-20 08:00] BorisOsipov commented on #753
@mseele
@rosolko

don't pay attention to this. I'm not awake yet, when wrote this.

[2018-06-21 11:52] asolntsev commented on #695
Fixed by https://github.com/codeborne/selenide/pull/754

[2018-06-21 11:52] #695 closed

[2018-06-27 06:34] asolntsev commented on #440
Will be released in Selenide 4.12.2

[2018-06-27 06:34] #440 closed

[2018-06-28 13:23] sidelnikovmike commented on #747
hm. Code fails on `first()` I think. You are trying to get first element of list with size = 0. It is java common behaviour.

[2018-06-28 14:02] sidelnikovmike commented on #681
@pavelpp As I see in html - after select `Tokyo` -  h3 element on page has `displayed:none`. Is your page correct?

[2018-06-28 15:02] pavelpp commented on #681
@sidelnikovmike please double-check. Shows` displayed: block;` for me

[2018-06-29 08:24] YuriIvanov opened #758 "Selenide doesn't support separate timeout for Proxy file download."
## The problem
Selenide doesn't support separate timeout for Proxy file download.

## Details
Imagine you have tests that have to download big files or wait for big reports to be generated. This means you need to wait more than default 4s timeout, maybe even up to 60 secs or more. The only way you can do it is to set **Configuration.timeout** value but this parameter affects not only downloading t

[2018-06-29 09:50] sidelnikovmike commented on #681
<img width="648" alt="image" src="https://user-images.githubusercontent.com/10669327/42085967-8599d27c-7b9a-11e8-9a89-fca8d431b097.png">

as you can see - for london - display:none. In code you check first element(London).
Your code is incorrect, I think.
Your `visibleHeader` always be 'London', but you want it to be `Tokyo`.
I think now it works as designed.

[2018-06-29 12:49] CaBocuk commented on #747
@sidelnikovmike sure it is, but it works fine for `$$("not-existing-locator").first().$("locator").exists();`
and this different behavior is a bit confusing imo

[2018-06-29 13:23] pavelpp commented on #681
@sidelnikovmike sorry, I thought you meant Tokyo. No it's not how I expect this to work. I check first VISIBLE h3 , which is what I filter for. That h3 should be dynamic, changing at the time of polling for element text. Like I said earlier it used to work like that before caching was introduced in version 4.10.01.

[2018-06-29 14:48] sidelnikovmike commented on #681
@pavelpp I think it is strange behaviour. You first have link to first element, but after some manipulations you wait, that there is another element. Not so understandable code.
@asolntsev What do you think?

[2018-06-30 19:27] chudyed opened #759 "Check if radio button is selected"
I have a radio button and want to check if it's selected or not using shouldBe() method.
Trying something like that:

	$("//input[@id='single']").shouldBe(visible, selected, exist);

and it seems working for **visible** and **exist** but doesn't for **selected**:

	$("//input[@id='single']").shouldBe(selected);
"selected cannot be resolved as to a variable"

I think that according to the the docum

[2018-06-30 19:36] chudyed opened #760 "ElementsCollections shouldHave()"
Trying to find out if my list contains some texts. Accoring to the documentation :

ElementsCollection |
 shouldHave(CollectionCondition... conditions)$$(".error").shouldHave(size(3)) `$$(".error").shouldHave(texts("Error1", "Error2"))`

In my particular case:
`$$(".mstatus").shouldHave(texts("Single", "Married"));`

it shows that
"the method texts(String) is undefinded for the type <myClassName>"

[2018-07-02 09:51] BorisOsipov commented on #759
@chudyed

I guess it is a issue with your code. Try to use `Condition.selected`

[Join our Gitter](https://gitter.im/codeborne/selenide) if you have more questions. Thanks!

[2018-07-02 09:51] #759 closed

[2018-07-02 09:53] BorisOsipov commented on #760
@chudyed can you share full code with imports?

[2018-07-02 17:28] chudyed commented on #760
That is my full code:
[code]

[2018-07-02 17:29] chudyed commented on #760
In BaseScenario I have only:
`Configuration.baseUrl = "http://demoqa.com/registration/";`

[2018-07-02 18:01] rosolko commented on #760
I'm trying to use you code but unfortunately I can't find any item on page using provided locator.
![untitled](https://user-images.githubusercontent.com/11458319/42178965-f19cff56-7e3a-11e8-88ff-c118a7d796d8.png)

[2018-07-02 18:12] rosolko commented on #760
@chudyed
I modified your code a little with correct locator and get text mismatch error:
TextsMismatch
Actual: [Single, Married, Divorced]
Expected: [Single, Married]
Collection: .radio_wrap > label.first(3)

[2018-07-02 19:32] chudyed commented on #760
Ok, maybe it should be
`$$(".radio_wrap").shouldHave(texts("Single", "Married"));`
but it's not a case here because I cannot even start my test due to error I'm  getting caused by 'text()' method.
It shows that
"the method texts(String) is undefinded for the type "

[2018-07-02 19:33] chudyed commented on #760
![2018-07-02_21h33_18](https://user-images.githubusercontent.com/23298175/42182747-8f88f658-7e3f-11e8-9f6b-f4afed414e28.png)

[2018-07-02 20:19] asolntsev commented on #760
@chudyed You miss one import. Just add this line to your test:

[code]

P.S. That's why IDEA is better than Eclipse.

[2018-07-02 20:20] #760 closed

[2018-07-02 20:20] rosolko commented on #760
@chudyed
Looks like you trying to use `texts` method from another non-selenide package.
Try to add direct static import for condition:
`import static com.codeborne.selenide.CollectionCondition.texts;`

[2018-07-02 20:32] asolntsev commented on #681
@pavelpp @sidelnikovmike It was intentional change in Selenide 4.10: http://selenide.org/2018/01/12/selenide-4.10/

- Before 4.10, Selenide re-loaded the whole collection on every `$$` method. It could be slow.
- Starting from 4.10, Selenide "caches" the collection, and only re-evaluates it in `$$.should*` methods (if check fails).

We had lot of discussions which behaviour is more correct.

- I p

[2018-07-02 20:38] #758 closed

[2018-07-02 21:55] asolntsev commented on #758
@YuriIvanov I found that this issue was only valid when download with "get" request. When downloading with "proxy", the timeout parameter is actually ignored. Look at `DownloadFileWithProxyServer`:

[code]

Or am I wrong?

[2018-07-03 05:09] YuriIvanov commented on #758
@asolntsev Eh, I did not manage to add unit tests for that.
clickable.click() uses Configuration.timeout as timeout, but after click performed we need to wait up to out **timeout** for available files. It is fully correct behavior.
For example, we have Configuration.timeout set to 10 seconds. First Selenide will try to click on some download button with this 10 seconds timeout that is absolutely S

[2018-07-03 08:13] rosolko commented on #681
Already discuss. Currently multiple implementation using in code. So for first need to choose default and then introduce parameter and switch behavior based on.

[2018-07-03 10:08] asolntsev commented on #758
@YuriIvanov Actually `clickable.click()` doesn't use `Configuration.timeout`. It waits as long as file is being downloaded.

[2018-07-03 10:19] pavelpp commented on #681
Yes, I agree the example is a bit artificial, it's purely to demonstrate what was working before and not working anymore. There are certain use cases for this and consistency is also a concern.

[2018-07-03 13:02] YuriIvanov commented on #758
@asolntsev If it would be this way it would have waited at least up to server timeout and wait.waiter would be useless here. Moreover, how click command without any parameters can know when there is any file downloaded? Only HasDownloads predicate can know this.

And why click command should even wait until some downloads to complete? It's still CLICK command :)

[2018-07-03 17:04] asolntsev commented on #758
@YuriIvanov Look at this test: https://github.com/codeborne/selenide/commit/2de95f83249e11cddb19786725e2be1d31f75494

it reproduces the problem.

[2018-07-04 18:30] #259 closed

[2018-07-04 22:11] asolntsev commented on #277
@admizh I would like to restore this discussion.
We want to optimize iterating a collection - see issue [641](https://github.com/codeborne/selenide/issues/641).

To achieve fast iteration, we want to change `$$.iterator()` so that it takes a "snapshot" of current collection, and doesn't reload the whole collection every time. It would break your initial `refException()` test.

That's why I am aski

[2018-07-05 18:58] espaciomore commented on #218
@asolntsev
I take that back, the best design for an automated test is to check the element's existence and visibility beforehand If one thinks it might be gone when an action is sent to it.

[2018-07-05 19:50] asolntsev commented on #218
@espaciomore Sorry, I am not sure I understand your answer. My question is very practical. You can write either 1 line of code or 5, in both cases getting the same result. Why do you want to write more lines? I don't see any practical reason.

[2018-07-13 20:01] #696 closed

[2018-07-16 12:07] SergeyPirogov opened #763 "Feature possibility to use external config"
## The problem

Now it's possible to configure Selenide in two ways: by setting System variable and Setting Configuration field explicitly. This approach works well, but in the case when the fieldset explicitly it's not possible to change a value by the system property.

There are some handy libraries like Java Owner that allows solving this problem but in most cases, I have to write boilerplate c

[2018-07-16 12:09] SergeyPirogov commented on #763
@asolntsev @BorisOsipov what do you think guys?

[2018-07-16 16:14] asolntsev commented on #763
@SergeyPirogov I don't understand yet. Isn't it simpler to just call MyProjectConfig and then set Configuration fields explicitly?

[2018-07-17 05:32] SergeyPirogov commented on #763
@asolntsev MyProjectConfig and SelenideConfig are interfaces. So you are not able to set values using accessors. The main idea is to give people pissibility to use some external libraries for configuration ex. http://owner.aeonbits.org/

[2018-07-17 17:15] espaciomore commented on #150
How can I re-open a webdriver or browser during the same test case run? @asolntsev

[2018-07-17 19:47] asolntsev commented on #150
@espaciomore Can you describe your case? In which case do you need to reopen a webdriver? Why is it closed?

And what should Selenide do after re-opening the webdriver? What if browser crashed in the middle of test?

[2018-07-17 22:29] espaciomore commented on #218
Sometimes I need to do more operations when some operation like *click* fails. For instance, it might be OK that a click fails for an element that is not visible so the test can continue.

[2018-07-17 22:32] espaciomore commented on #150
I have to run the same test multiple times, at some iteration the browser fails and the test cannot recover.

[2018-07-18 11:40] TomaszSzyborski opened #765 "Feature request - add children() and/or siblings() methods for better DOM navigation"
## The problem
While writing tests requiring navigation through table elements I have to do what follows:
`List<SelenideElement> headers =invoices.$("tr").$$("th");` or something in similar fashion.

## Proposal
We have parent() method which gives us parent element, it would be very useful to have one going downwards(and/or sideways) to DOM . Then, insted of `List<SelenideElement> headers =invoice

[2018-07-19 06:35] rosolko commented on #353
@VasaviUppada Using selenide you can only check color with raw, as I know, rgb color value. But if you want to check it as hex - you need to create custom condition.

[2018-07-19 07:54] asolntsev commented on #353
I guess it depends on browser. Different browsers can return color in
different format.

Andrei Solntsev

чт, 19 июл. 2018 г. в 9:35, Aliaksandr Rasolka <notifications@github.com>:

[2018-07-20 14:04] mseele opened #766 "Add new feature getSelectionRange / hasSelectionRange"
## The problem
There is no method to check the selection range of text for an input text field.

## The Details
Whould be cool to integrade a method `SelenideElement.getSelectionRange` and/or `Condition.selectionRange(String selection)` to selenide.

## Tell us about your environment
* **Selenide Version:** 4.12.2
* **Selenium Version:** 3.13.0
* **OS Version:** Windows 10

## Code To Reproduce Is

[2018-07-22 09:52] asolntsev commented on #150
@espaciomore actually you don't need to do anything. Selenide already had mechanism for tracking browser health. If browser has quited meanwhile, Selenide will open a new browser on next `getWebDriver()` call.

[2018-07-23 12:22] akoval commented on #734
@rosolko problem is still actual.

I found the place where it should construct filename.

`protected String getFileName(String fileToDownloadLocation, HttpResponse response) throws MalformedURLException {
    for (Header header : response.getAllHeaders()) {
      Optional<String> fileName = httpHelper.getFileNameFromContentDisposition(header.getName(), header.getValue());
      if (fileName.isPres

[2018-07-24 00:11] espaciomore commented on #150
Can I understand how does Selenide do that please? I can't seem to recover and I guess it has something to do with the **static** condition.

[2018-07-24 00:33] espaciomore commented on #150
Can I get the process ID for the driver that was initiated through `getWebDriver()`?

[2018-07-24 06:50] asolntsev commented on #150
@espaciomore Selenide checks if browser is still open in method `com.codeborne.selenide.impl.WebDriverThreadLocalContainer#isBrowserStillOpen`:

[code]

Though, it does it only in method `Selenide.open`.

[2018-07-24 06:51] asolntsev commented on #150
@espaciomore

I don't know if it's possible to get the process ID. I guess it's not.

[2018-07-24 08:16] gerasimenko-ivan commented on #676
There is a workaround for this issue: you can define WebDriver manually and use com.codeborne.selenide.WebDriverRunner.setWebDriver() method to use WebDriver with ChromeOptions you want, e.g.:

[code]

BTW: if you want to change user profile (like in the code above) you'd probably need to make a special Automation profile otherwise you can run you tests only when all the instances of browser with

[2018-07-24 13:17] akoval commented on #734
[demo.zip](https://github.com/codeborne/selenide/files/2223797/demo.zip)

I uploaded demo project that contains 1 html page with link to the file with some query params.

Open http://localhost:8080/1.html. Link is `http://localhost:8080/test.txt?www=1111&rrr=2222`

Test:

[code]

When I click the link I have no any Content-Disposition header

[2018-07-24 22:07] espaciomore commented on #150
Ok, I found this method from Selenide docs `getAndCheckWebDriver` it new instance of WebDriver if the previous one has been closed meanwhile.

[2018-07-24 23:18] AshokKumarNarava opened #767 "How to handle long page loading time?"
Any better way to handle long page loading time.

Explicit sleep method did not solve my purpose.

[2018-07-25 06:50] rosolko commented on #767
@AshokKumarNarava wait for some page element to be visible.
`$(.page-element).shouldBe(Condition.visible);`

[2018-07-25 06:50] #767 closed

[2018-07-26 22:10] asolntsev commented on #734
@akoval @rosolko Thank you. Will be released in Selenide 4.12.4

[2018-07-27 09:36] p-nikolaichik opened #769 "Selenide runs slowly when setting Configuration.fileDownload = PROXY"
## The problem
In order to be able to download the file without the href attribute (https://github.com/codeborne/selenide/issues/196), I installed the configuration Configuration.fileDownload = PROXY. After that, I noticed significant performance degradation. For example, if you fill fields using $ (". selector") .setValue (" somevalue "), the program may stop for a few seconds, then tests continu

[2018-07-27 17:51] symonk commented on #766
Hi @mseele can you provide a little more info? is this for the length of entered text ('value') or the maximum length value on a given field?  I will create a PR when you clarify, thanks.

[2018-07-28 14:15] asolntsev commented on #769
@p-nikolaichik how can I help? I also use proxy in my work projects, and don't see any performance degradation. It's apparently your project specific. We need more bloody details.

[2018-07-28 23:05] vinogradoff commented on #766
What is selectionRange exactly? Characters selected with a mouse (to copy to clipboard?) inside of any element?

[2018-07-30 06:00] mseele commented on #766
It's the start and end positions of the current text selection in an <input> element.

Please see https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/setSelectionRange for more details.

It is, for example, usefull if you have an input field that selects the whole input on focus (by code) and you want to test this.

[2018-07-30 12:32] #429 closed

[2018-07-30 14:01] asolntsev commented on #766
@mseele
1. If I understand correctly, your method `getSelectionRange` actually returns selected text (not start/end positions). Thus it should be named `getSelectedText()`. Am I right?
2. In Selenide style, we should add condition instead of just getter. Like this:

[code]

[2018-07-30 14:05] asolntsev commented on #765
@TomaszSzyborski I am not sure it's a good idea. This test can be fragile because developers can add some invisible elements to the `<table>` (e.g. `<tbody`) which causes test failure. That's why I think explicitly using `<tr>` or `<td>` is a good idea.

[2018-07-30 16:57] symonk commented on #766
given the following image, it would be returning the value for 'selected' (basically what has been selected / highlighted?

![image](https://user-images.githubusercontent.com/17887843/43411396-f786a258-9421-11e8-9528-ad6d732027dd.png)

if so, do we think this is a worthwhile feature to implement?

[2018-07-31 05:39] mseele commented on #766
@symonk you example is exactly what i meant.

[2018-07-31 12:30] asolntsev commented on #766
@symonk yes, why not. But I remind that I still prefer adding condition instead of just getter:

[code]

[2018-08-01 08:52] TomaszSzyborski commented on #765
@asolntsev I can see that. I was using other framework as well - there is option for going through DOM like  parent, children, siblings etc. - it is especially useful when there is no `<tr>` or `<td>` and everything is built with `<div>` and `<span>` without specific selectors for rows or fields, as follows:
Assume this is table:
[code]
So you can get table by `$('.table')` but `$('.table').$$("di

[2018-08-01 10:08] rosolko commented on #765
@TomaszSzyborski You can use `$$(.table > div)` and get exact two rows and perform filtering for them.

[2018-08-01 11:29] TomaszSzyborski commented on #765
@rosolko fair enough :)
Closing this one, then.

[2018-08-01 11:29] #765 closed

[2018-08-02 12:50] C-Kearney opened #772 "Text input taking 2-3 sceonds per character in IE 11"
## The problem
I am writing a test suite using cucmber to test a web applications UI. We recently finished writing support for IE 11. When I run the tests against IE 11 text input will take 2-3 seconds per character making the tests take up to 4X as long. Any ides on how to make IE 11 run as quickly as our firefox and chrome tests?

## Tell us about your environment
Selenide Version: 4.12.2
IE Ver

[2018-08-02 13:11] BorisOsipov commented on #772
Did you try win32 version of IE driver?

[2018-08-02 13:27] BorisOsipov commented on #772
No I don't.
But as I know there was huge performance degradation on using win64 driver.

Also you may try to use `Configuration.fastSetValue = true;` It will enable setting values for input fields by js scripts. I've never used it with IE yet, but it works well on some applications.

Also I believe this is not Selenide issue... You will have the same problems with plain Selenium.

[2018-08-02 13:32] C-Kearney commented on #772
Yeah I saw a lot of the Selenium threads mentioning this issue and I wondered if anyone working on this project had figured out a faster solution.

Thanks for the advice!

[2018-08-02 18:02] asolntsev commented on #772
@C-Kearney yes, `Configuration.fastSetValue = true` should help in your case. Did you try it?

[2018-08-02 21:42] symonk commented on #471
small update, I still think there is universal drag and drop issue(s) with selenium itself.  I opened https://github.com/SeleniumHQ/selenium/issues/6235.  as of the chrome team:

[code]

[2018-08-02 21:45] symonk commented on #273
will investigate this one this weekend

[2018-08-03 04:28] asolntsev commented on #471
@symonk Thank you for sharing. So, closing this issue for now.

[2018-08-03 04:28] #471 closed

[2018-08-04 10:10] symonk commented on #394
@asolntsev was this implemented already? I see a `  File download(long timeout) throws FileNotFoundException;` with accompanying:

[code]

can we close?

[2018-08-06 07:12] deventh opened #776 "Speedup the Page object initialization"
## The problem
Page object initialization takes some time searching by selectors (css, xpath) and increasing proportionally to the fields count. Let's speed it up by simply init in a few threads

## Details
`org.openqa.selenium.support.PageFactory#proxyFields`

[code]
fields init can be parallelized. Or create the extension point of the framework to let end user init the fields in the bulk and use

[2018-08-06 07:17] rosolko commented on #776
@deventh Hi there.
Do you get some metrics related to this improvement?
Can you please provide profit in numbers?

[2018-08-06 07:49] symonk commented on #776
interested to see the gains, typically page objects should be small, having a huge class with many many locators is bad design and probably quite rare.

[2018-08-06 08:16] asolntsev commented on #776
@deventh If I am not mistaken, Selenide doesn't load web elements immediately, but uses lazy loading. So, probably this optimisation doesn't have any effect...

[2018-08-06 17:55] asolntsev commented on #763
@SergeyPirogov I still don't understand. You can make `MyProjectConfig` a class, not interface.
Can you give a code snippet that would show the real benefit?

[2018-08-06 17:57] asolntsev commented on #753
@mseele So what's the final status of this issue? Can we close it?

[2018-08-07 05:32] mseele commented on #753
for me its still an issue but i've solved it in our tests by scrolling every row into the viewport...

[2018-08-07 06:58] asolntsev commented on #747
@CaBocuk I think that different behaviour is a bit confusing, but not critical at all.

BUT

If I modify your sample a bit, we get a real problem. The line below line should not throw an exception, but throws. And this is a bug in Selenide. We need to fix it.

[code]

[2018-08-07 07:13] asolntsev commented on #753
@mseele Please remind, is it possible at all to solve it in Selenide?

[2018-08-07 07:17] mseele commented on #753
@asolntsev It's possible by scrolling to every row and get the text for each row separate. Using `ElementsCollection.texts()` will not work (because not all texts are visible)

[2018-08-07 07:18] asolntsev commented on #746
@ColinJackson22
1. Which `Configuration.fileDownload` do you use: `HTTPGET` or `PROXY`?
2. How does your browser know what is `myhost`? Do you run browser with your own proxy?

[2018-08-09 12:28] #273 closed

[2018-08-12 07:49] asolntsev commented on #766
@symonk Hi! How is your PR going?

[2018-08-12 08:04] symonk commented on #766
pretty slow sorry @asolntsev I am experimenting with the idea here https://github.com/symonk/selenide/commit/addca46b59af1d2967ed8eba78f29c08aa7977dd, however I am changing jobs right now so I have a lot of stuff to work out and no time just yet to continue.

[2018-08-13 14:41] asolntsev commented on #766
@symonk no problems! I can do this PR by myself. I just wanted to be sure that we don't do the same job twice.

[2018-08-13 15:29] espaciomore commented on #644
Hi,

Is there any integration with TrifleJS?

I'm having issues with PhantomJS and the driver is not being supported or updated since more than 2 years. My issue is due to driver not being able to load the content of child frames.

[2018-08-13 15:51] rosolko commented on #644
@espaciomore
If you want to run tests in headless just pass configuration `Configuration.headless=true;` it works for chrome and firefox.
Also integration with trifflejs is missing.

[2018-08-13 20:17] espaciomore commented on #644
Is there a way to fake the user-agent string so that I tell Selenide to set the HTTP request as X Web Client?

Because, I'm testing a website that's only visible on IE11.

[2018-08-14 21:03] asolntsev commented on #713
@dtuchs Is the issue still valid? I tried to add cookie to a remote browser - and it worked well. Thought, I used usual Selenium Grid, not Selenoid.

[2018-08-15 16:40] brobee opened #777 "Wait for page loaded waitUntil doesn't work"
Hi,

I have a loading icon and I'd like to wait till that loading icon disappeared using Selenide.
[code]

It doesn't work, because I got the following error:

[code]

This topic is confusing me. How can I check the actual page is fully loaded (apart from the element check on the page) and how can I wait till something is disappeared?

Do I miss something? Thanks!

[2018-08-15 20:59] asolntsev commented on #681
I think this issue was fixed in Selenide 4.12.3: http://selenide.org/2018/07/17/selenide-4.12.3/

@pavelpp Can you confirm? Then we could close the issue.

[2018-08-15 21:08] asolntsev commented on #569
It seems that this issue is duplicate of https://github.com/codeborne/selenide/issues/628 which was implemented in Selenide 4.11.3: http://selenide.org/2018/05/08/selenide-4.11.3/

@mseele Can you confirm?

[2018-08-15 21:08] #569 closed

[2018-08-15 21:44] asolntsev commented on #777
@brobee You are doing it right. This is the right way to check that something has disappeared:
[code]

In your case, this element hasn't disappeared. Probably you used too short timeout? Please copy the full error message.

[2018-08-15 21:46] asolntsev commented on #620
@CaBocuk What should we do with this issue? Can we close it?
As I remember, you wanted to implement your concept in a separate pull request. Did you have chance to do it?

[2018-08-15 22:02] asolntsev commented on #623
@yashaka Can you remind what exactly was implemented incorrectly?

P.S. I added missing tests in a separate PR: https://github.com/codeborne/selenide/pull/779

[2018-08-17 09:39] asolntsev commented on #709
Fixed in https://github.com/codeborne/selenide/pull/780, will be released in Selenide 4.12.4

[2018-08-17 09:39] #709 closed

[2018-08-17 09:53] Dazzla commented on #713
This is happening to me too. I'm trying to set a multi-part cookie:

[code]

And getting the same error

[2018-08-17 13:05] dtuchs commented on #713
@asolntsev unfortunately this problem is still relevant for the Selenide version 4.12.3 and Selenoid (running on remote machine)

[2018-08-17 13:08] BorisOsipov commented on #713
@dtuchs could you please create simple project to reproduce issue and share it with us on github?
It will significantly help us to investigate the issue.

[2018-08-19 06:44] SergeyPirogov commented on #763
Ok, let's do it as a class, anyway, it will allow a user to use external libraries for config

[2018-08-19 08:29] asolntsev commented on #633
Duplicate of https://github.com/codeborne/selenide/issues/709
Fixed in Selenide 4.12.4

[2018-08-19 08:29] #633 closed

[2018-08-19 08:35] asolntsev commented on #763
@SergeyPirogov Still: Can you give a code snippet that would show the real benefit?

[2018-08-19 10:32] asolntsev commented on #601
Add method `$$.shouldHave(texts(...), 5000);`

[2018-08-19 10:32] #601 closed

[2018-08-19 17:56] Denysss commented on #747
@asolntsev
1. What do you think about this case?
`$("not-existing-locator").$$("#multirowTable").shouldHaveSize(0);`
It throws
`Element not found {not-existing-locator}`
`Expected: exist`
`NoSuchElementException: Unable to locate element: not-existing-locator`
and it's clear as for me.

2.  What is expected behavior for the discussed cases?
`$$("not-existing-locator").first().$$("locator").shouldH

[2018-08-20 16:55] CaBocuk commented on #620
@asolntsev I've reviewed my philosophical views 😄 I think we can close it

[2018-08-20 17:03] #620 closed

[2018-08-20 20:20] asolntsev commented on #747
@Denysss We have two options:
1. It should throw exception because parent element `$("not-existing-locator")` doesn't exist.
2. It should work without errors because collection `("not-existing-locator").$$("locator")` IS empty, and `....shouldHaveSize(0)` IS true.

I personally think that the 2nd option is better. At least this is consistent with `$` behaviour.

[2018-08-20 20:29] asolntsev commented on #208
Closing the feature request. It seems that nobody is interested.

[2018-08-20 20:29] #208 closed

[2018-08-20 20:31] asolntsev commented on #511
Closing the feature request. It seems that nobody is interested.

[2018-08-20 20:31] #511 closed

[2018-08-20 20:32] asolntsev commented on #476
Duplicate of https://github.com/codeborne/selenide/issues/601
Was released in Selenide 4.13.0

[2018-08-20 20:32] #476 closed

[2018-08-20 20:33] #493 closed

[2018-08-20 20:35] asolntsev opened #784 "Enable BasicAuth through Selenide proxy server"
## The problem
Currently it's only possible to bypass BasicAuth by adding username+password in URL. And this is deprecated now (at least in Chrome). We could add BasicAuth header using Selenide's built-in proxy server.

[2018-08-21 07:06] rosolko commented on #784
Reference: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Proxy-Authorization

[2018-08-21 11:32] rosolko commented on #190
@asolntsev

Looks like chrome team won't implement this feature. Propose to close this issue for now.

[2018-08-21 13:38] AshokKumarNarava opened #786 "Can we log HTTP responses (200/ 400/ 500) if tests are passed/failed"
## The problem
Can we log HTTP responses (200/ 400/ 500) if tests are passed/failed

## Details
If necessary, describe the problem you have been experiencing in more detail.

## Tell us about your environment
* **Selenide Version: 4.2.1**
* **Chrome\Firefox\IE Version:Version 68.0.3440.106**
* **Selenium Version:3.11**

I am working on a test environment which is very unstable. When tests are fail

[2018-08-21 17:50] brobee commented on #777
Thanks for that! my problem was the short timeout, but your confirmation was useful!

Still wait question, so it is related. I have a login page, when I fill up the form and click on login, a brand new window appear for the users. I cannot change this behavior, so I need to handle somehow. Any idea, how can selenide wait for a window, not an element?

Problem in this case: when the window appears,

[2018-08-22 02:39] tsukakei commented on #777
I have the same situation!
My solution is to use `Selenide.sleep()`.
I know it's not good one, but a realistic one. @brobee

[2018-08-22 17:26] brobee commented on #777
I think, sleeps is not the best moreover a good solution. Can be a workaround, but not a permanent thing. Anyway, thanks!

[2018-08-22 19:33] asolntsev commented on #777
@brobee In theory, these 2 lines should work for you:

[code]

Both methods can wait if needed.

[2018-08-22 19:33] #777 closed

[2018-08-22 20:33] asolntsev commented on #190
@rosolko No, we still can do a universal solution for all browser.
1. Catch all requests and responses using Selenide built-in BrowserMobProxy
2. Return a resulting HAR file in the end.

[2018-08-22 20:36] asolntsev commented on #786
@AshokKumarNarava Yes, you can do it if you are using `Configuration.fileDownload = PROXY`.
In this case, Selenide starts its own built-in proxy server, and you can add `ResponseFilter` to it.

This way you can add a filter which logs any requests/responses.
See a working example in [Selenide tests](https://github.com/codeborne/selenide/blob/master/src/test/java/integration/proxy/ProxyServerUsageT

[2018-08-22 20:36] #786 closed

[2018-08-23 13:27] qtpsudhakar commented on #681
The issue still exist in 4.12.3

We have tried with all types of element wait techniques. Still we get stalement exception. The page gets reloaded and we are finding the element again with $$(By.xpath("[xpath]")).filter(visible);
But it is finding the previous document reference instead of current document element.
But if we give thread.sleep(50000) then it works with latest document.
We thought t

[2018-08-23 20:08] asolntsev commented on #681
@qtpsudhakar I confirm that Selenide 4.12.3+ always works with latest loaded html document (well, except `$$.iterator()`.

I cannot reproduce your problem. I tried, but I cannot.
Can you send me a code sample that would reproduce the problem?

[2018-08-26 14:07] kovalkuz commented on #601
Hi! Couldn't use $$("locator").waitUntil(condition, timeout) in my test because method has protected access level. Could you please help to understand usage of this new feature?

[2018-08-26 14:08] kovalkuz commented on #601
ps: used 4.13.0 version

[2018-08-27 14:18] #784 closed

[2018-08-27 18:53] asolntsev opened #788 "Add setting to enable/disable proxy server"
Selenide can run its own proxy server.
Initially it was used only for downloading files. That's why proxy server is currently enabled/disabled by setting `Configuration.fileDownload`. But now proxy can used for different purposes. That's why it's reasonable to introduce a dedicated setting for proxy server:

* `proxyEnabled=true | false`   // default value: false
* `proxyHost=localhost`  // defaul

[2018-08-27 19:48] asolntsev opened #789 "Remove ?timestamp parameter for IE"
A long, long time ago we added to Selenide a code that adds `timestamp` parameter to every URL (in case of InternetExplorer). For example, command `open("http://some.com")` actually opened a URL `http://some.com?timestamp=3421323123` in IE.

We added it because we hoped to fix some flaky tests in IE. It seemed that IE sometimes didn't reload page when we clicked some buttons.

Now I think that cli

[2018-08-28 08:36] asolntsev commented on #789
Done in https://github.com/codeborne/selenide/pull/790

[2018-08-28 08:36] #789 closed

[2018-08-28 15:28] asolntsev commented on #788
Done in https://github.com/codeborne/selenide/pull/791

[2018-08-28 15:28] #788 closed

[2018-08-30 19:24] brobee opened #793 "PageFactory pattern with Selenide"
Hi,

I didn't find any information regarding this, but I tried the following and I got an error:

I have a POM with PF:

[code]
Initialization is not successful

When I tried simple pure Selenium WebElement, I got Nullpointer Exception.

I'd like to use PageFactory in order to use Loadable Component approach to make our life (switching between the windows etc.) easier. Any suggestion would be appr

[2018-08-30 20:27] vinogradoff commented on #793
Actually you don't need PageFactor and FindBy annotation when using Selenide. Just do

    private SelenideElement element1=$(byName("LOGIN"));

    private SelenideElement element2=$(byName("PASSWORD"));

    private SelenideElement submitElement=$(byName("SUBMIT"));

    private SelenideElement cwIframe=$("#IFRAME");

will do the job.

You needed PageFactory and FindBy, because you cannot do it

[2018-08-30 21:15] brobee commented on #793
Ok gotit, how can you initialize and return page objects following the loadable component pattern? Actually that is the reason, why I want to use PF. Thanks

[2018-08-30 21:51] asolntsev opened #794 "Remove unused setting `Configuration.dismissModalDialogs`"
## The problem
I suggest to remove setting `Configuration.dismissModalDialogs` (`-Dselenide.dismissModalDialogs=true`). I believe it's not used.

A long time ago, it was created to overcome problems with HtmlUnit and PhantomJS which didn't support `alert()`. Nowdays, HtmlUnit supports `alert()`, and PhantomJS is dead.

[2018-08-31 04:53] asolntsev commented on #794
Done in https://github.com/codeborne/selenide/pull/795

[2018-08-31 04:53] #794 closed

[2018-09-03 15:00] slipwalker opened #797 "Iterator should reload the collection on every loop cycle"
With #696 that was introduced in Selenide version 4.12.3, some of our UI autotests that have deals with Selenide's setValue() method started suddenly to fail with next exception:
[code]
Element we trying to set value to is having validation (red border in case of empty value). Element is present and displayed before passing it to setValue() method. So it may look like collection containing that el

[2018-09-03 19:17] rosolko commented on #543
It's not possible due to selenide check that element is displayed before click and then perform a click.
Using raw selenium example you just click on item without any verification.
If you execute `getWebDriver().findElement(By.id("2")).isDisplayed()` it return `false` and click can't be performed as child of this verification.

[2018-09-03 19:17] #543 closed

[2018-09-03 19:26] #675 closed

[2018-09-03 19:43] asolntsev commented on #675
@jpratt2 did you try it in headless mode?

[2018-09-04 22:01] asolntsev opened #798 "remove useless method $.followLink()"
Instead of `$.followLink()` one can just use method `$.click()`.

[2018-09-04 22:05] asolntsev commented on #798
done in branch `selenide-driver`

[2018-09-05 06:39] asolntsev commented on #260
Done: https://github.com/codeborne/selenide/wiki/SoftAssertions

[2018-09-05 06:39] #260 closed

[2018-09-05 06:44] rosolko commented on #798
done in `master` branch

[2018-09-05 07:05] #798 closed

[2018-09-06 16:30] karol1204 commented on #302
It works for jUnit4, how to use it for jUnit5?

[2018-09-06 16:40] rosolko commented on #302
https://github.com/codeborne/selenide/wiki/SoftAssertions

[2018-09-10 21:08] espaciomore opened #802 "PhantomJS capabilities are not set through Selenide"
## Selenide fails to apply DesiredCapabilities on PhantomJS
When I set the capabilities through the `Configuration.desiredCapabilities` object, the PhantomJS driver does not get the capabilities as desired. Nonetheless, when I explicitly instantiate the `PhantomJSDriver` with the desired capability then it works.

## Tell us about your environment
* **Selenide Version:**4.11.4
* **Selenium Version

[2018-09-10 22:15] espaciomore commented on #802
I needed to use a string array; `ArrayList<String> v_args = new ArrayList<String>();` to add the desired capability `v_caps.setCapability("phantomjs.cli.args", v_args);`

[2018-09-10 22:15] #802 closed

[2018-09-11 16:59] espaciomore commented on #802
This was a much better solution:

[code]

Source: https://stackoverflow.com/questions/30805635/change-path-for-the-logfile-of-phantomjs-in-java

[2018-09-11 17:16] espaciomore commented on #802
@asolntsev could you tell me the default capabilities for PhantomJS when using Selenide?

[2018-09-11 17:33] rosolko commented on #802
@espaciomore We don't pass any capabilities for default phantomjs drive.

[2018-09-11 17:43] espaciomore commented on #802
@resolko I'm thinking browser viewport, platform, etc...

[2018-09-11 18:31] rosolko commented on #802
@espaciomore From browser stuff we just add browser version if it's not null.
**Note:** Miss one point we also add 2 arguments to `phantomjs.cli.args`:
1. --web-security=no
2. --ignore-ssl-errors=yes

[2018-09-11 18:50] espaciomore commented on #802
My issue was the viewport so I changed the browser size:

[code]

[2018-09-11 19:01] rosolko commented on #802
@espaciomore Selenide has configuration for this points:
1. `Configuration.browserSize` - for browser size, be default it has your browser default window size
1. `Configuration.browserPosition` - for browser  position, be default it has your browser default window position

[2018-09-14 09:50] asolntsev opened #804 "Selenide throws NullPointerException if reportFolder is null"
## The problem
Selenide throws NullPointerException if reportFolder is null.
Instead, it should report a clear error message and continue without saving screenshot.

## Details
Here is stack trace:

[code]

## Tell us about your environment
* **Selenide Version: 4.12 - 4.14.1**

## Code To Reproduce Issue [ Good To Have ]
[code]

[2018-09-14 10:04] asolntsev commented on #804
Fixed by https://github.com/codeborne/selenide/pull/805

[2018-09-18 06:13] deventh commented on #776
@asolntsev page object fields are inited with the proxies. Now without changing the current API the one way to speed it up is call getters on fields in many threads.

Or provide the own implementation of how the fields are inited. Since the Selenide is the framework and for the `org.openqa.selenium.support.pagefactory.FieldDecorator` there is the default proxy-based implementation it would be nice

[2018-09-19 21:09] asolntsev opened #806 "Remove deprecated APIs"
In upcoming major release Selenide 5.0.0, we want to delete deprecated and unused functionality from Selenide. We need to know your opinion. Please say in comments if you use some of settings/functions below.

I suggest to delete the following settings:
- [x] `Configuraton.collectionsTimeout`  (let it be same as `Configuraton.timeout`).
- [x] `Configuration.collectionsPollingInterval` (let it be s

[2018-09-19 22:55] cocorossello commented on #806
We use collectionsTimeout and collectionsPollingInterval, but it's better to leave as you say. I just changed the deprecated present and we don't use any more settings. Seems reasonable.

[2018-09-20 03:53] eichisanden commented on #806
Please do not delete `Configuration.holdBrowserOpen`.
Because I want to use Chrome Devtools to investigate the cause of error during debugging.
Since it can not be investigated if the browser is closed.

[2018-09-20 06:26] aleksandr-kotlyar commented on #806
[code]

[2018-09-20 06:31] asolntsev commented on #776
@deventh wait, it seems to be a bit over-engineering. Do you want to actually disable Selenide built-in lazy loading mechanism, and load all fields immediately (in many threads) to gain speed? How many milliseconds will you gain? Did you really try it?
* Do you know that every following call to any of page object fields will intercept with the browser anyway? So, there will be many calls anyway. Y

[2018-09-20 06:33] asolntsev commented on #806
Yes, `has(Condition)` will remain. Thought, I still don't recommend to use these `is`/`has` methods that return boolean. It's a bad practice to put  IFs in your tests.

[2018-09-20 06:36] asolntsev opened #807 "Remove deprecated feature `Configuration.holdBrowserOpen`"
I suggest to remove this setting and feature.
It's only usable for debugging on your work machine. But in this case you can put breakpoint or add logging anyway.

Please share your thoughts if you still need it.

@eichisanden @SergeyPirogov Why the standard error message with screenshot and html is not enough?

[2018-09-20 06:37] asolntsev commented on #806
@eichisanden It seems to be the most popular. Let's move discussion to the separate issue: https://github.com/codeborne/selenide/issues/807

Please answer there, why the standard error message with screenshot and html is not enough.

[2018-09-20 06:49] simple-elf commented on #807
holdBrowserOpen is useful, not very often, but still useful

[2018-09-20 07:02] SergeyPirogov commented on #807
You are able to see network requests, also it's not always ok to set breakpoint at the last line of my test methos. In Such case I should add some dummy line to debug smt that happens after last line

[2018-09-20 07:15] asolntsev commented on #807
@SergeyPirogov Adding line `Configuration.holdBrowserOpen = true;` is also a "dummy line". How is it better?
But the bigger problem is: this approach doesn't help anyway when the test fails on Jenkins. And in most cases, tests fail on Jenkins.

[2018-09-20 07:54] SergeyPirogov commented on #807
The case that it's a config. And as end user I want ability to set this config, those who think this is useless junt not use it. Deletition of this line will not make selenide more comfortable to work with.

Also to run tests in Jenkins, firstly we should write them locally, so ability to debug using holdBrowserOpen is much usefull in this case

[2018-09-20 08:20] asolntsev commented on #807
@SergeyPirogov Yes, this is config, and... so what?
It's hard to use product that has too many settings. We want to make people's life easier by removing as many settings as possible.

I understand that you use this feature. But when developing/debugging a test, you can just add `sleep(666666)` in the end of your test. It's also simple.

[2018-09-20 08:31] SergeyPirogov commented on #807
The problem is that I dont' want to add anything to my tests. I want to have configuration via framework/library etc. TO delete config that is useful for people is a bad decision

[2018-09-20 08:34] Vyachelav commented on #806
Please, won't delete Configuration.assertionMode, my colleagues and I use SoftAssertions, it's really useful and more comfortable to use it for us. More comfortable than testng soft asserts.

[2018-09-20 08:43] eichisanden commented on #807
Rather than changing the test code, I think that it is more smart to tweak the setting.
However, I think that it may be deleted if you want to reduce the setting items.
Because holdBrowserOpen is useful, but not necessary.

[2018-09-20 12:21] Mlungisi1984 opened #808 "Handling new windows in Selenide using Internet Explorer browser"
## The problem
Handling new windows in Selenide using Internet Explorer browser

## Details
If necessary, describe the problem you have been experiencing in more detail.

## Tell us about your environment
* **Selenide Version: 4.14.1
* **Chrome\Firefox\IE Version: IE 11
* **Browser Driver Version: 3.14.0
* **Selenium Version: 3.14.0
* **OS Version: 10

## Code To Reproduce Issue [ Good To Have ]
P

[2018-09-20 13:14] asolntsev commented on #807
@SergeyPirogov @simple-elf @eichisanden Well, it seems that many people use this feature. One possible use case is to enable this setting in CI job and login to the CI machine remotely to investigate the browser state.

So, we decide to keep `Configuration.holdBrowserOpen` feature.

[2018-09-20 13:14] #807 closed

[2018-09-21 12:35] deventh commented on #776
@asolntsev

Surely no. But since there is a framework and as the end user I can choose the implementation I need for my particular case. `FieldDecorator` as interface allows me replace with a different implementation if needed. But this interface could be changed a bit to accept the Collection of fields instead of one by one

Yes, it is useful

Yes. Also the model of keeping webdrivers (now are ke

[2018-09-23 08:33] asolntsev opened #809 "Method $ should NOT automatically open a browser"
When using Selenide, a normal flow is to first open a browser, and then acting with elements. Like this:

[code]

## The problem
If one forgers to call `open` and calls `$`, Selenide still opens a browser. It's kind of unexpected behaviour. It can cause mysterious bugs.

## Solution
I suggest to change method `$`, so that it throws an exception if a browser is not open yet.

[2018-09-23 08:33] asolntsev commented on #809
Implemented in branch `selenide-driver`

[2018-09-23 09:00] BorisOsipov commented on #809
@asolntsev just to be sure. For $$().someaction() the same?

[2018-09-23 09:08] BorisOsipov commented on #806
What about this?
https://github.com/codeborne/selenide/blob/master/src/main/java/com/codeborne/selenide/WebDriverRunner.java#L23

I think we can remove it. It is easy to fix if someone still use this.

[2018-09-24 06:02] asolntsev opened #810 "Selenide should NOT maximize browser by default"
## The problem
Currently Selenide starts browser "maximized" (makes browser window as big as screen size).
It has two problems:
1. It takes time
2. it can cause flaky tests because screen size can vary depending on environment, XVFB settings, headless mode etc.

## Solution
I suggest to turn `Configuration.startMaximized` setting to `false` by default.
Instead, I recommend to set browser window si

[2018-09-24 06:04] asolntsev commented on #809
@BorisOsipov Yes, sure. Both `$` and `$$` should throw an exception if browser is not opened.

[2018-09-24 06:34] rosolko commented on #809
It's a good point! Awesome 🎉

[2018-09-24 06:35] rosolko commented on #810
@asolntsev @BorisOsipov I think we also should remove chrome maximize cheat and transfer any maximize operations to client code. What do you think?

[2018-09-24 07:01] BorisOsipov commented on #810
I am not sure.
@rosolko Does chrome maximize cheat really work now? I guess if we remove it will be hard to guess for someone why tests start failing.

[2018-09-24 07:13] rosolko commented on #810
@BorisOsipov I think yes why not. It's just set browser size to screen size and set position to `0x0`

[2018-09-24 14:06] ostap-oleksyn opened #811 "Make Chrome the default browser in Selenide 5.0.0"
Since a major 5.0.0 release is coming, I think it's a good opportunity to finally make Chrome the default browser instead of Firefox. IMHO that's what most people are using nowadays as a default browser anyway.

[2018-09-25 06:11] Mlungisi1984 commented on #808
So in other words, I cannot do window handles using combination of Selenide and TestNg?

[2018-09-25 06:19] asolntsev commented on #808
@Mlungisi1984 Sure you can.

First of all, let's fix the problem with Firefox. If Selenide opens Firefox, it means that you call method `getWebDriver()` BEFORE calling `Configuration.browser = WebDriverRunner.INTERNET_EXPLORER;`

Start with this problem.

[2018-09-25 06:49] asolntsev commented on #806
@BorisOsipov You mean method `addListener()`? I guess people use it - for example, for logging.
I use it myself in the Gmail example: https://github.com/selenide-examples/gmail/blob/master/test/org/selenide/examples/gmail/GmailTests.java

[2018-09-25 07:05] BorisOsipov commented on #806
@asolntsev 	nope, about this alias for IE https://github.com/codeborne/selenide/blob/a8b19f9c849ec9fa07ad9cab6dbb2080d1d7d08d/src/main/java/com/codeborne/selenide/Browsers.java#L13

[2018-09-25 07:10] SergeyPirogov commented on #806
Listener is also used for allure integration with Selenide

 SelenideLogger.addListener("AllureSelenide", new AllureSelenide());

[2018-09-25 07:13] rosolko commented on #806
@SergeyPirogov No plan to remove listeners. We just investigate if it's possible to remove `IE` alias and leave only `InternetExplorer`

[2018-09-25 14:21] rosolko commented on #810
@asolntsev @BorisOsipov I'm also suggest to set default `browserPosition` with `25x25` or even `30x30` value.
It avoid 2 problems:
1. Creating browser outside screen viewport
2. Creating browser under some OS elements such docks and tiles on linux and macos

[2018-09-25 15:27] asolntsev commented on #806
@rosolko @BorisOsipov Now it's easy to run tests with ie: `-Dselenide.browser=ie`.
If we remove this constant, it will be a bit harder: `-Dselenide.browser="internet explorer";`. Million of problems with commas and spaces guaranteed. Is this constant really so bad?

[2018-09-25 16:05] rosolko commented on #806
@asolntsev This constant marked as deprecated. So we need to decide if really need it and sd result keep it or remove.

[2018-09-25 17:55] aleksandr-kotlyar commented on #806
@asolntsev , i think `"ie"` is useful in your case. Please, unmark it as deprecated. One row is not huge, it's useful more important.

[2018-09-25 17:56] BorisOsipov commented on #806
Agree

[2018-09-26 00:13] asolntsev commented on #810
@rosolko @BorisOsipov I am not sure setting `30x30` is a good idea. Because moving the browser takes time. It will make many tests slower.
And it was never needed - at least in my projects.

[2018-09-26 00:27] asolntsev commented on #776
@deventh I am not sure I really understand what are you trying to achieve. How many milliseconds can this approach save? Do you have any numbers?

Anyway, we cannot change `FieldDecorator` because it's a **Selenium**, not Selenide class.

But well, if your experiments succeed, fell free to send pull request (even some draft variant). I am ready to discuss it. :)

[2018-09-26 07:36] gitsnuit opened #813 "Unnecessary screenshots"
## The problem
Selenide is making screenshots even if the tests is not failing with the 'shouldNot' condition and a collection that does not exist.

Anyone else got this bug?

Example:

There is no div named body

[code]
(I know these two things are the same)

When there is only one div called test

`$$("#test").get(1).shouldNot(visible) -> No screenshot`

## Environment
Selenide 4.10.01
Chrome Ve

[2018-09-26 22:27] afamee opened #814 "Screenshots no longer available"
## The problem
I no longer get the screenshots upon failure ever since I upgraded from Selenide 2.17 to Selenide 4.12.
For the longest time, I had a very old Selenide code for reasons that are isolated to my setup. Finally I found a way to work around the issue hindering my upgrade. So I took a big leap and upgraded from Selenide 2.17 to 4.12. I was really excited considering I have now new api's

[2018-09-27 06:48] plagov commented on #814
This is a very basic functionality that works perfectly. And without your code example, it is impossible to see what is the problem you're experiencing.

[2018-09-27 08:08] kalumpiwarra opened #815 "Add possibility to choose collection reload strategy"
After reverting collection behavior to the reload collection on each call (except iterators), new issues appear / performance significantly decreased in a few cases.

I faced with two cases after #696 (partially revert reloading collection on each call):

- During using of the new iterator, it's possible to face StaleElementReferenceException. Especially in cases when collection element was used d

[2018-09-27 08:12] rosolko commented on #815
@kalumpiwarra Use `$$.snapshot()` to increase collection performance again. In this case you will work with cached collection.
From: https://selenide.org/2018/07/17/selenide-4.12.3/

[2018-09-27 08:30] kalumpiwarra commented on #815
@rosolko I've got the same result on the second element: StaleElementReferenceException.
Looks like as underlayer both Iterator and Snapshot using fetch() to take an actual collection.
That's why I'm proposing to support two ways of working with collections.

[2018-09-27 20:09] rosolko commented on #806
Remove only `closeBrowserTimeoutMs`configuration.
Move value directly to `CloseDriverCommand` ctor.

[2018-09-27 20:50] plagov commented on #814
Stacktrace is impossible to read, it is uploaded as a screenshot that doesn't appear in full size. Place it as a plain text here.

Also, `Condition.appear` is deprecated. Better to use `Condition.visible`. And what is the `policy_num`? Do you define this variable?

I tried to reproduce your issue with the following test:

[code]
As expected - it failed, I get a `NoSuchElementException` and screens

[2018-09-27 21:02] afamee commented on #814
@plagov Thank you for all your efforts. I am not so sure how the stacktrace will be helpful to you but here it is. It should be plainly seen that there is no screenshot shown here. There might be something I am missing but its not yet apparent to me. I assume that you are staging similar environment as I noted above. Thanks again.

org.openqa.selenium.NoSuchElementException: no such element: Unabl

[2018-09-27 21:20] plagov commented on #814
Check also your Selenide configurations - class with configurations or command line arguments. If your test spawns Chrome, while Selenide by default uses Firefox, that means that somewhere in your project you define configurations.

[2018-09-27 21:35] afamee commented on #814
I have checked my selenide configurations. In no place did I explicitly turn off screenshots. I make few setProperty calls like below:

`System.setProperty("selenide.browser", browser.equalsIgnoreCase("chrome") ? "chrome" : "firefox");`

Before calling the open(url)

Just now, in an entirely different test within the same suite sharing the same setup and codebase, now I see screenshot included. So

[2018-09-27 21:45] afamee commented on #814
Upon a closer observation between the two different stacktraces I have provided thus far, I noticed that the ones that terminate with codeborne code does actually generate screenshots but the ones that terminates either in Selenium library code or Java does not. I don't know if it makes any difference but wanted to call

[2018-09-28 09:03] mjedracz opened #817 "FirefoxDriverFactory overwrites Firefox profile provided by Configuration"
## The problem
FirefoxDriverFactory overwrites Firefox profile provided by Configuration.browserCapabilities

## Details
I was trying to start Firefox with a custom profile with some certificates so the easiest approach was to set         `Configuration.browserCapabilities = capabilitiesWithFirefoxProfile;` . However, when using default Firefox driver provider, profile capability is overwritten in

[2018-09-28 09:17] BorisOsipov commented on #817
I guess it is the same as https://github.com/codeborne/selenide/issues/676

[2018-09-28 09:19] BorisOsipov commented on #817
Not is is different.

[2018-09-28 21:01] neharmalviya commented on #351
@hana9090 Can you please share your article of how to capture network calls using selenide.
http://www.jitblog.net/selenide-with-browsermob-proxy/ is not accessible.

[2018-09-29 18:11] BorisOsipov opened #819 "Change default value for Configuration.browserCapabilities to not null"
## The problem
I've seen several times when Selenide users write code like
`Configuration.browserCapabilities.setCapability(SOME_CAP, "SOME_VALUE_FROM_CONFIGURATION");`
and got NPE due `Configuration.browserCapabilities` has default `null` value.

I guess `Configuration.browserCapabilities` default value was not quite good decision.

[2018-09-30 10:55] #806 closed

[2018-09-30 13:32] #817 closed

[2018-09-30 13:32] BorisOsipov commented on #819
Fixed in https://github.com/codeborne/selenide/pull/821

[2018-09-30 13:32] #819 closed

[2018-09-30 14:03] #252 closed

[2018-09-30 14:04] #354 closed

[2018-09-30 14:07] #540 closed

[2018-09-30 14:08] #592 closed

[2018-10-01 06:34] asolntsev opened #822 "Remove sizzle selectors from Selenide"
It seems that nobody really uses this feature. I suggest to remove it in Selenide 5.0.0

Feature described here:
https://selenide.org/2014/11/03/selenide-2.15/

### Sizzle selectors (CSS3)
Now you can use CSS3 selectors in Selenide for searching web elements!

For example:

[code]

To enable Sizzle selectors, add this line to your tests:

[code]

Feel free to share your experience with us. Did it

[2018-10-01 18:37] #809 closed

[2018-10-02 08:52] rosolko commented on #631
https://github.com/codeborne/selenide/wiki/Community-conditions#child

[2018-10-02 08:52] #631 closed

[2018-10-03 19:40] #822 closed

[2018-10-03 19:41] asolntsev commented on #822
We found that some folks still use sizzle selectors, so we cannot just remove this feature.
Probably we will need to extract it to a separate plugin or something like that.

[2018-10-04 15:08] leysanka commented on #675
Crashes for me as well with the following error: "Chrome Automation extension has crashed. Click this balloon to reload the extension"

[2018-10-04 15:21] marcuskaufmann opened #831 "Download function: missing basic authentication header"
## The problem
The request that is fired to download a file from a site doesn't contain authentication header that is used in the session. Session cookies were applied to the new request but the authentication header field is missing.

## Details
When I browse a site that requires basic authentication and start to download a file, the file download results in a FileNotFoundException and the call f

[2018-10-05 23:03] symonk commented on #793
@brobee this is the power of selenide :) driver-less, page factory-less page objects, just nice and clean

[2018-10-09 19:05] RobertKielty opened #834 "Javadoc errors"
## The problem
There are lots of JavaDoc warning in the build

## Details
This is preventing documentation that is present in the comments from being displayed in the generated javadocs

## Tell us about your environment
* **Selenide Version:**
Latest
* **Chrome\Firefox\IE Version:**
* **Browser Driver Version:**
* **Selenium Version:**  HEAD master
* **OS Version:**

## Code To Reproduce Issue [

[2018-10-09 20:36] asolntsev commented on #834
@RobertKielty I usually don't look at javadoc warnings seriously. And generally I am skeptical about Javadoc. I mean, there is not really much benefit from javadoc. See https://asolntsev.github.io/en/2010/05/02/javadoc/

But ok, if you can fix those warnings - why not.

[2018-10-09 22:28] RobertKielty commented on #834
The first fix makes a documentation difference in so far as code appears in the Java Docs now that does not at the moment. I'll submit the PR and so you can see.

The broken Java Doc is here
https://selenide.github.io/javadoc/current/com/codeborne/selenide/WebDriverRunner.html#HTMLUNIT

[2018-10-10 20:19] slipwalker commented on #797
@asolntsev any updates on this one? Provided examples look like valid. Anyway, would be great to have this nasty issue fixed. Thanks in advance.

[2018-10-10 20:49] asolntsev commented on #834
@RobertKielty Thank you, I have merge PR 835. Did you want to fix more javadocs, or was it the only one?

[2018-10-10 21:39] asolntsev commented on #797
@slipwalker Thank you for the reminder. I was busy with Selenide 5.0.0 major refactoring during last month...

I looked at your examples. There is no a single correct answer, of course, but I tend to think that these are not good tests. Ideally, there should not be any loops and ifs in test. I mean, you should always know exactly how many elements there should be on a page, and click every of them

[2018-10-11 09:39] kalumpiwarra commented on #797
@asolntsev Let me clarify couple details:
1. It's suitable to perform some loops in tests (not directly but in page objects), e.g., click and get a result, and only after it validate the results (do not see here any bad solution). I'm expecting that iteration and `get(int idx)` will have the same behavior in loop. For now, it's not true.
2. Performance issue: I'm not talking about `get(int idx)` p

[2018-10-11 16:21] symonk commented on #713
@dtuchs are you on the DOMAIN you are trying to assign a cookie on? you cannot set cookies for domains which you currently do not reside on with selenium as per W3C standards?

[2018-10-12 07:59] FrameBassman commented on #697
I suggest to escape all important commas in arguments via backslash (\) character

[2018-10-12 09:30] asolntsev commented on #675
Yes, `--start-maximized` never worked for me. Instead, you can use Selenide option `Configuration.startMaximized = true;`

But I personally recommend not to start browser maximized, but instead set the browser size explicitly.
It helps you to avoid flaky tests.

[2018-10-18 07:19] thereiskeks commented on #201
Is there any progress on this? I also have the error and always using xpath is annoying.

[2018-10-18 12:10] marcuskaufmann commented on #831
Is there any update on that issue?

[2018-10-18 14:12] AlexanderPoleschuk opened #838 "Remove black magic from adjustBrowserSize() method"
`adjustBrowserSize` method contains following code:

[code]

this code in its turn has the "black magic" method:

[code]

that seems to be not useful anymore. Chrome already is able to maximize the window.

Tried `getWebDriver().manage().window().maximize()` in debug and it worked like a charm in Chrome!

[2018-10-18 14:23] AlexanderPoleschuk opened #839 "Selenide 5 breaks remote driver initialization"
Before 5.0.0 the code below worked like a charm:
[code]
On 5.0.0 it claims to use open() before driver is initialized. It seems to be weird.

In addition this code:
[code]
is not working anymore w/o specifying open() command also. It was used to save parameters that are placed in allure.properties file and are used in allure report.

[2018-10-18 14:28] rosolko commented on #839
Start from 5 version you have to call open to initialize you browser.
Work as designed.
Looks like you trying to access `remote` varable initialized in `AfterSuite` block but in `BeforeMethod` block - it's a wrong using.

[2018-10-18 14:28] #839 closed

[2018-10-18 17:35] symonk commented on #838
`getWebDriver().manage().window().maximize()` not sure this works in mac OSX, will confirm in work tomorrow but I have problems with it

[2018-10-18 17:37] symonk commented on #831
interesting, will have a little look into this tomorrow.  Please post anymore relevant info you have @marcuskaufmann

[2018-10-18 17:46] symonk commented on #831
any available websites that can replicate this scenario publically @marcuskaufmann ?

[2018-10-18 19:52] marcuskaufmann commented on #831
@symonk Unfortunately the website in question is not available to the public. The session cookie itself should be plenty enough to authenticate the call but in this case it isn't.
If I had to guess the reason then it would be a wrong configuration or implementation on the server side which I can't change though.

Basically it's more like a missing option to workaround such situations than an issue

[2018-10-19 20:34] fyrewall77 opened #840 "Download a URL with no name or content disposition headers"
## The problem
Trying to download this image:
   https://utdirect.utexas.edu/apps/pts/parking/citations/nlogon/images/6584836/
but the File it tries to download to is the reports directory, not a file inside the reports directory.

## Details
Looks like this URL doesnt have a file name, nor does the server return a content disposition header.

## Expected result
Some random File in the reports dir

[2018-10-22 13:01] TuXuuTT commented on #797
Hi.
I agree with the author and confirm that StaleElement exception is thrown in 100% cases when you are operating with collection via stream and its elements are changed in dom during those. And of course, is not reproduced when you are using plain old cycle, because there element collection is polled each time becase of  CollectionElement.wrap()

And the reason is not new Iterator and fetch() me

[2018-10-22 18:07] symonk commented on #113
did you think more on this @asolntsev ? I don't think it has a place in selenide.  maybe in some sort of special mode, but if you want to do this you can just do it with a Selenium Listener implementation instead?

[2018-10-22 19:05] BorisOsipov commented on #113
I don't think it is realy need.

[2018-10-23 09:51] EreminD opened #842 "Got java.lang.NoClassDefFoundError: org/openqa/selenium/InvalidArgumentException on simple test"
Hello team

I've got pretty simple test (kotlin or java - it doesn't matter)

`
@Test
fun test() {
open("http://ya.ru")
}
`
When I start, it throws me thus exception:
`
java.lang.NoClassDefFoundError: org/openqa/selenium/InvalidArgumentException

	at com.codeborne.selenide.webdriver.WebDriverFactory.<init>(WebDriverFactory.java:21)
	at com.codeborne.selenide.drivercommands.LazyDriver.<init>(LazyDr

[2018-10-23 10:35] BorisOsipov commented on #842
@EreminD show us `mvn dependency:tree` output

[2018-10-23 11:21] BorisOsipov commented on #842
Discussed here https://automated-testing.info/t/c-selenide-ochen-legko-nachat-avtomatizaiyu-testirovaniya/21728

Spring boot adds old selenium versions. You need to check and fix your selenium dependencies.

[2018-10-23 11:21] #842 closed

[2018-10-23 12:00] paveltrue opened #843 "unknown error: cannot parse capability: pageLoadStrategy"
I'm launching my tests in a suite. And i get this error:
org.openqa.selenium.WebDriverException: unknown error: cannot parse capability: pageLoadStrategy
from unknown error: page load strategy unsupported
  (Driver info: chromedriver=2.42.591088 (7b2b2dca23cca0862f674758c9a3933e685c27d5),platform=Windows NT 6.2.9200 x86_64) (WARNING: The server did not provide any stacktrace information)
Command d

[2018-10-23 12:03] BorisOsipov commented on #843
Chrome does not support PageLoadStrategy.EAGER check it in your code\env

[2018-10-23 12:17] paveltrue commented on #843
omg. Stupid mistake. Thanks a lot

[2018-10-23 12:17] #843 closed

[2018-10-23 22:12] afamee commented on #814
Would there ever going to be an answer to my question?

[2018-10-24 12:37] asolntsev commented on #814
@afamee Probably you are not copying the full stack trace.
I see only `org.openqa.selenium.NoSuchElementException` in your stack trace, but Selenide throws `ElementNotFound` exception which wraps the original `NoSuchElementException` and adds screenshot to it.

Look, this is how classical Selenide exception looks like. You probably copy only the part below "Caused by" phrase:

[code]

[2018-10-24 13:58] Victoria151291 opened #844 "ClassCastException after updating of Selenide from 4.12.3 to 5.0.0"
## The problem
ClassCastException at getting text of element of list after updating of Selenide from 4.12.3 to 5.0.0

## Details
I have a following problem after updating Selenide from 4.12.3 to 5.0.0.
I have one method which collects the list of selenide elements and other method which gets the element from this list, its text and compares it with the string from the other list.

During the test

[2018-10-24 18:08] afamee commented on #814
@asolntsev Exactly Andrei. That was what I was expecting but not in my case. What I have pasted before and now again below is the entire stacktrace from beginning to end with nothing missing.

Here is the line of code where it happens: Is this not a selenide call?
[code]
So the call to **$(POLICY_LOC).shouldBe(Condition.appear).getTex**t for the given element failed because the page that was expec

[2018-10-24 18:14] BorisOsipov commented on #814
@afamee Also, as I see you use Fitness and this code runs in fuxture. Maybe this fixture somehow handle errors additianaly and print only e.g. `error.getCause()`? Can you check?

[2018-10-28 20:49] #747 closed

[2018-10-29 07:17] plagov opened #845 "Add the possibility to move to a certain sibling and preceding element, after `parent()` method"
## The problem
Add the possibility to move to a certain sibling and preceding element, after `parent()` method, relative to the one the `parent()` method was called.

## Details
Consider the following HTML:

[code]

So, if I would need to move to the `td` element in `tr` that is next to `tr td.today`, I would do:
`$("td.today").parent().sibling(0).find("td", 1);`

Respectively, if moving to the `t

[2018-10-29 07:48] Victoria151291 commented on #844
Tell me please when will this bug fixed? Thanks.

[2018-10-29 08:32] rosolko commented on #838
@asolntsev @BorisOsipov Also notice that `driver.manage().window().fullscreen()` works well on mac. So can it be `maximize` replacement for chrome?

[2018-10-29 09:14] BorisOsipov commented on #838
[code]

I am not sure that maximize() and fullscreen() are the same

[2018-10-29 09:14] vitassecuriti opened #846 "Whether there is a way to force to tighten all dependences (including the web driver) at a stage of assembly of the maven project?"
## The problem
At assembly of the maven project in a local repository the dependences of libraries specified in pom.xml and other necessary dependences are tightened.

During the work in the closed network (without free access in the Internet) we use artifactory in the closed contour. In this artifactory neobzodimy dependences are replicated from artifactory in an open contour.

If I correctly und

[2018-10-29 09:16] BorisOsipov commented on #844
@Victoria151291 Sure!

minimum reproducable example
[code]

[2018-10-30 06:54] #844 closed

[2018-10-30 07:02] asolntsev commented on #838
@BorisOsipov @rosolko Exactly. "maximize" and "fullscreen" are different things.

@AlexanderPoleschuk @symonk I confirm: "maixime" still doesn't work on Mac. :(

So we still cannot remove the hack :( At least for Mac.

[2018-10-30 07:02] asolntsev commented on #838
Can anyone confirm that "maximize" works with Chrome on Windows and Linux?
We probably could use this hack only on MacOS?

[2018-10-30 07:04] rosolko commented on #838
@asolntsev Works well on windows. Can't say anything for linux.

[2018-10-30 07:06] asolntsev commented on #113
@symonk Arguments against it:
- It's not really useful (needed)
- it doesn't solve any real problems
- it's impossible to implement highlighting that would look nice with every possible application design.

@BorisOsipov Arguments for it:
- Many people are asking for it. Though I personally think it's useless, it's a frequently requested feature. It wold be popular.

[2018-10-30 07:18] rosolko commented on #113
@asolntsev @BorisOsipov From my point of view it shouldn't be a part of this library.
But if some one provide work code sample - we can easily place it on wiki as we do it for community conditions.

[2018-10-30 07:56] asolntsev commented on #113
@rosolko there is a working code for highlighting elements: https://github.com/selenide-examples/gmail/blob/master/test/org/selenide/examples/gmail/Highlighter.java

[2018-10-30 07:58] rosolko commented on #113
Awesome!
I think it's enough for self implementation/using and we can easily close this bug as completed. What do you think?

[2018-10-30 12:39] symonk commented on #846
I don't think this is a selenide issue @vitassecuriti.

the WDM is configured separately. you have some options:

Option 1)
[code]

Option 2) Disable it in selenide and use standard binary lookup with system properties.

Option 3) Configure wdm to download the binaries internally and host them somewhere, e.g on Artifactory

[2018-10-30 13:42] BorisOsipov commented on #846
1) @symonk described opportunities. How to realize is up to you. We don't know your limitation and so on.
2) May make advise to try [selenoid](https://github.com/aerokube/selenoid). It can work in docker or standalone mode. For more details read his docs.
3) Also, if you use `Configuration.remote=url` Selenide won't handle drivers binary downloading.

Only for you. If you are in restricted network

[2018-10-30 15:39] symonk commented on #846
Thanks, but just like any library selenide cannot cater to closed networks in terms of web driver manager (nor can Web Driver Manager itself).

If a proxy to the outside internet is out of the question perhaps just disabling this feature when working with selenide and managing your binaries internally is the best approach.  This is what I would recommend.

Thanks and  thanks for using Selenide.  @

[2018-10-30 15:45] #846 closed

[2018-11-01 08:43] AlexanderPoleschuk commented on #838
https://bugs.chromium.org/p/chromedriver/issues/detail?id=985 JFYI. the issue was logged in 2015...

[2018-11-01 09:05] symonk commented on #838
I think the hack is ok until official support is created, tho that seems to be a low priority :/ we can leave this open but i think it might be a while :D

[2018-11-01 09:10] symonk commented on #838
something like this works on mac OSX -> chromeOptions.add_argument("--kiosk"), but it enters a kind of stupid mode... I prefer to just read screensize and set it.

[2018-11-02 13:33] rosolko commented on #462
Starting from 5.0.0 version you can implement `com.codeborne.selenide.Config` interface and pass custom config

[2018-11-02 13:33] #462 closed

[2018-11-02 13:35] rosolko commented on #447
Looks like this not an issue or reasonable improvement.
Fell free to reopen if have prepared PR with implementation.

[2018-11-02 13:35] #447 closed

[2018-11-02 13:44] rosolko commented on #558
https://github.com/selenide/selenide/wiki/How-Selenide-creates-WebDriver#how-to-run-selenide-with-custom-profile

[2018-11-02 13:44] #558 closed

[2018-11-02 13:47] rosolko commented on #586
No response from author. Obsolete.

[2018-11-02 13:47] #586 closed

[2018-11-02 20:53] rtvbaa opened #850 "Error in proxy settings before starting the browser"
## The problem
Error in proxy settings before starting the browser

## Details
To start the proxy, I use the following settings:
  BrowserMobProxy proxy = new BrowserMobProxyServer();
  proxy.setTrustAllServers(true);
  proxy.blacklistRequests("https?://www\\.google\\.com/.*", 400);
  proxy.start(80);

If I want to use Selenide proxy:
  Configuration.proxyEnabled = true;
  Configuration.proxyPort

[2018-11-02 22:40] asolntsev commented on #201
@thereiskeks @SEMrushTasks @sadsridh @lminiailo I investigated this problem once more and found that this element has CSS property `opacity: 0`. For Selenium it means that the element **is not visible**. But Selenide method `$.click()` only allows to click visible elements.

We probably should change `$.click()` implementation so that it also allowed clicking invisible elements (like this one with

[2018-11-02 23:06] asolntsev commented on #839
@AlexanderPoleschuk Can you answer for this question:

[2018-11-02 23:08] asolntsev commented on #814
@afamee I cannot reproduce your issue. :( Without it, I am afraid we cannot fix it.

Did you try the previous suggestion by BorisOsipov?

[2018-11-02 23:12] asolntsev commented on #351
@neharmalviya Just google it :)   Here is the link: https://jitblog.net/selenide-with-browsermob-proxy/

But not that this article is outdated. I mean, nowadays BrowserMobProxy is built in Selenide. You can just set `Configuration.proxyEnabled = true;` before opening a browser, and then use method `WebDriverRunner.getSelenideProxy().getProxy()` for accessing BrowserMobProxy.

[2018-11-02 23:15] asolntsev commented on #831
@marcuskaufmann I guess it's a server configuration issue. I think that browser typically doesn't send BasicAuth header with every request, but only with first request (and then uses session cookie for following requests).

Anyway, we could add BasicAuth header to download request. It should be a simple change.
@symonk What do you think?

[2018-11-02 23:38] afamee commented on #814
@asolntsev Thank you Andrei. I tried tracing the code.. I found out that at this line below,

the stacktrace contains the **screenshot** but somewhere along the line, it gets truncated. So it could be as @BorisOsipov guessed that Fitnesse swallowing the original error.

@Override
  public Object invoke(Object proxy, Method method, Object... args) throws Throwable {
    if (methodsToSkipLogging.con

[2018-11-03 00:15] #814 closed

[2018-11-03 13:45] symonk commented on #831
hmm seems like a unique web application, I would assume after auth server would respond with the cookie for the client for subsequent requests. Do we just stealthily supply this HTTP header with the requests from download()? or do we have another command like downloadWithX(); ? @asolntsev

[2018-11-03 13:57] symonk commented on #766
@asolntsev Hello, I am settled into work now so im going to work on this, ok?

[2018-11-03 23:33] asolntsev commented on #766
@symonk Sure, go on :)

[2018-11-03 23:35] asolntsev commented on #831
@symonk Good question. I am not sure. Probably I vote for "just stealthily supply this HTTP header with the requests from download()".

[2018-11-03 23:41] asolntsev commented on #797
@TuXuuTT Once again: typically I also prefer stream instead if `get(index)`. But it changes when we are talking about elements that **are disappearing** (when the page gets reloaded). You cannot iterate a collection which has changing content. You would get `ConcurrentModificationException` or something like that. In this case, `get(index)` is the only working option.

[2018-11-03 23:52] asolntsev commented on #797
@kalumpiwarra 1.

Yes, this is absolutely reasonable. This is the reason why I was in doubt when releasing Selenide 4.12.3 (in which [iterator caches the collection](https://selenide.org/2018/07/17/selenide-4.12.3/))

2. I still don't understand the performance point. You are suggesting to fetch the whole collection on every operation, right? This is definitely slower than fetching the collection

[2018-11-04 09:44] #834 closed

[2018-11-04 16:58] asolntsev commented on #840
@fyrewall77 Thank you for reporting the issue! We will fix it in next release.

[2018-11-05 07:49] kalumpiwarra commented on #797
@asolntsev Second point is about performance because of current and previous implementation of collection's access.

- Before Selenide 4.12.3 we had iteration via collection without reloading of all collection elements for each iteration. A very imprortant point that during access to each element you check that element do not produce `StaleElementReference` exception and if it was produces you jus

[2018-11-06 06:39] rosolko commented on #850
@rtvbaa Proxy starts after driver starts, so in your case when you call `WebDriverRunner.getSelenideProxy()` your receise a `java.lang.NullPointerException` because there are no running proxy.
Just change order of your requests:
1. `open("google.com");`
2. `WebDriverRunner.getSelenideProxy().getProxy().blacklistRequests("https?://www\.google\.com/.*", 400);`
3. other logic

[2018-11-06 12:48] Mcseemkaz opened #853 "Chrome does not start in headless mode when proxyEnabled is true"
## The problem
I try to implement tests to check that file can be downloaded. So I put some settings for this in @Before method:
Configuration.fileDownload = PROXY;
Configuration.proxyEnabled = true;

It works fine and file has already downloaded when running on Chrome.
But when I run a test on Chrome headless mode it`s failed because the browser isn`t able to open tested page (just blank screen o

[2018-11-06 13:01] cocorossello opened #854 "Cannot upgrade to selenide 5.0.0"
## The problem
After upgrading to selenide 5.0.0 I have a few test that are faling (always same tests). We have about 200 selenium tests that run in parallel (64 parallel). Those tests don't fail without concurrency (in local). The stacktrace for all of them is:

java.lang.IllegalStateException: Webdriver has been closed. You need to call open(url) to open a browser again.
	at com.codeborne.seleni

[2018-11-06 14:10] rosolko commented on #853
@Mcseemkaz Chrome 71? For now the latest stable version is 70.0.3538.77

[2018-11-06 15:21] Mcseemkaz commented on #853
Yep, I mixed up -  Chrome driver is 71, the browser version, of course, is 70. But the issue still is presented. @rosolko Could you provide some help, please?

[2018-11-06 15:37] rosolko commented on #853
@Mcseemkaz chromedriver can't be 71 version. `2.43` is latest one!
http://chromedriver.chromium.org/downloads

[2018-11-06 15:41] BorisOsipov commented on #853
@rosolko [71 exists.](https://chromedriver.storage.googleapis.com/index.html?path=71.0.3578.33/) It is a new version.
For details about new versioning see https://groups.google.com/forum/#!topic/chromedriver-users/HvlKWqv34es

[2018-11-06 15:43] BorisOsipov commented on #853
@Mcseemkaz 	We can't recomend and support 70-71 chromedrivers cause it is no official version by Chrome devs.
"This new release is still experimental, and is not yet a replacement for the official release of ChromeDriver, currently at version 2.42. Instead,"

[2018-11-06 15:45] rosolko commented on #853
@BorisOsipov Got it, thanks!

[2018-11-06 15:46] Mcseemkaz commented on #853
@rosolko  ![image](https://user-images.githubusercontent.com/35467812/48075188-4cfccc00-e1eb-11e8-9a9b-ba6fc495adf5.png)

Maybe, we will finish the conversation about Chrome version. Guys, I just would like to get help with my problem.

[2018-11-06 15:49] rosolko commented on #853
Your problem can be cause by incompatible of new chromedriver and chrome

[2018-11-06 15:50] rosolko commented on #853
@Mcseemkaz As @BorisOsipov previously offer to you - downgrade chromedriver to 2.42 version.

[2018-11-06 15:55] rosolko commented on #853
@Mcseemkaz Reference documentation about solution: https://github.com/bonigarcia/webdrivermanager

[2018-11-06 18:55] BorisOsipov commented on #853
@Mcseemkaz Please, let us know if downgrade to chromedriver to 2.4X helps.

[2018-11-07 08:31] xkubist opened #857 "Chrome process hangs after Selenide tests runs"
## The problem
Chrome close, but chrome process hangs after Selenide tests runs. I expect the chrome process to be closed.

## Tell us about your environment
* **Selenide Version: 4.9.1**
* **Chrome Version: 70.0.3538.77**
* **Browser Driver Version: 2.43**
* **Selenium Version: 3.8.1:**
* **OS Version: Windows 10**

## Code To Reproduce Issue
public void googleTest() {
        System.setProperty(

[2018-11-07 12:12] rtvbaa commented on #850
open("google.com"); runs a proxy and opens the site. All requests after it are meaningless.

[2018-11-07 13:35] rtvbaa commented on #850
I need to block all sites except the checked, but for an example it is better.

[2018-11-07 17:28] marcuskaufmann commented on #831
Sorry, I had recently a busy time. I didn't had time to work on the demo project, too. Thank you for picking up this edge case anyway. You guys make a great job!

[2018-11-09 07:05] jyfang821 opened #858 "webelement with type="checkbox" isdisplayed check error"
## The problem
when the element attribute type=checkbox, check element visible fail, but other type attribute is available

## Details
Element '//input[@ah-sin-wipe="dnsServer" and @type="checkbox"]' not visible after 5 seconds.
call is_displayed() return false with chrome browser but the element is practical visible in web page, do the same test firefox is successful

## Tell us about your enviro

[2018-11-09 07:10] rosolko commented on #858
@jyfang821 Can you please attach also html page or better part of page related to element in time of check?
It's common practice to hide `input` element for checkboxes and leave clickable only parent `div` of it.

[2018-11-09 07:30] jyfang821 commented on #858
`<div class="column grid_10 last">
			<input name="services-field-1" class="ace-switch ace-switch-7" type="checkbox" data-dojo-attach-point="enabled" ah-sin-wipe="dnsServer">
			<span class="lbl switch-label "></span>
			<p class="igray mt10">Use DNS server to resolve domain names to IP addresses. Aerohive devices that are DHCP clients can receive a domain name and DNS server IP address through DH

[2018-11-09 08:51] rosolko commented on #858
@jyfang821 Can you please also provide css style for this element?

[2018-11-11 19:13] VatslauX commented on #697
Is the same for FF or Chrome only?

[2018-11-13 07:36] BorisOsipov commented on #844
@Victoria151291 fix was released in 5.0.1

[2018-11-13 07:50] Victoria151291 commented on #844
@BorisOsipov , yes, I've already seen it and updated the Selenide's version in my project. Thank you very much 👍

[2018-11-13 10:18] jkromski opened #860 "NoClassDefFoundError: org/openqa/selenium/remote/DesiredCapabilities"
## The problem
I'm not sure if this is an issue but for some reason I was missing org.seleniumhq.selenium:selenium-remote-driver so I assume that it should be added to Selenide dependencies

## Details
Running a test via Intellij
Exception thrown:
[code]
my failing dependencies:
[code]

## Environment
* **Java Version:** 10.0.2
* **Selenide Version:** 4.14.0
* **Chrome\Firefox\IE Version:** Not re

[2018-11-13 10:47] BorisOsipov commented on #860
@jkromski can you show your pom.xml? I don't have an idea what is going on.

As you can see in https://mvnrepository.com/artifact/org.seleniumhq.selenium/selenium-java/3.14.0

`org.seleniumhq.selenium-remote-driver` is dependency of `org.seleniumhq.selenium:selenium-java` and we depends only on `selenium-java`. So you don't have to add `elenium-remote-driver` to make it work.

[2018-11-13 17:49] jkromski commented on #860
yes you are right
possibly some issue on mvn caching side?

my pom dependencies
<dependencies>
		<dependency>
			<groupId>com.codeborne</groupId>
			<artifactId>selenide</artifactId>
			<version>4.14.0</version>
			<scope>test</scope>
		</dependency>
		<dependency>
			<groupId>org.seleniumhq.selenium</groupId>
			<artifactId>selenium-remote-driver</artifactId>
			<version>3.14.0</version>
		</depe

[2018-11-13 17:52] BorisOsipov commented on #860
@jkromski no it's maven dependency resolution issue. `ashot` depends on
`org.seleniumhq.selenium.selenium-remote-driver:2.53.0` So, maven use `2.53.0` for `selenium-remote-driver`

[2018-11-13 17:54] BorisOsipov commented on #860
You can try to exclude such deps from `ashot` or explicitly set `selenium-remote-driver` in your pom.xml.

it's not selenide issue. I'am closing this.

[2018-11-13 17:54] #860 closed

[2018-11-13 17:59] jkromski commented on #860
thanks, I see the version which you pointed out but much lower on the list.
Thanks

[2018-11-14 10:49] paveltrue opened #861 "White puctute in Headless mode"
I'm launching my tests in a suite with headless mode. But a lot of tests are crushing while logging. (Cannot find element). Screenshot is a just white picture. Without headless mode all's fine.
Selenide: 4.12.3
Java: 1.8.0_171
chromedriverVersion: 2.42.591088
Windows 10
What could be cause?
Thanks

[2018-11-14 10:52] asolntsev commented on #861
It can happen if chrome and chromedriver versions don't match with each
other.

On Wed, Nov 14, 2018, 12:49 paveltrue <notifications@github.com wrote:

[2018-11-14 15:46] paveltrue commented on #861
@asolntsev Thanks for response. I downloaded chromedriver 2.43.
Chome version:70.0.3538.102
Anyway sometimes my tests are dropping while log in.

[2018-11-14 20:42] andreif2018 opened #862 "Exception about closed browser in case browser is opened"
## The problem
Hello,

I am getting failed test with following:
 "Java.lang.IIlegalStateException WebDriver has been closed. You need to call open(url) to open browser again".

## Details

As I see the browser window with my url is opened [step 3 attached below], but the test failed with exception.

What can be a solution  to reopen browser and to make assertion in selenide in my case?
Thanks

##

[2018-11-15 08:25] ganzolik1234 opened #863 "No webdriver is bound to current thread: 14. You need to call open(url) first when I try to run tests in parallel(TestNG)"
## The problem
When I try to run tests in parallel (testng xml suite) I receive error: com.codeborne.selenide.ex.SoftAssertionError: java.lang.IllegalStateException: No webdriver is bound to current thread: 14. You need to call open(url) first.

But If I run tests in one thread this problem doesn't reproduce.

## Details

Steps to reproduce;
1. Run testng suite xml file (src->test->resources->Para

[2018-11-15 09:21] BorisOsipov commented on #863
It is testng issue - it runs @BeforeClass and @Test in differend threads.
See https://github.com/cbeust/testng/issues/1335

I've updated your deps to `compile 'org.testng:testng:6.14.3'` and it help.

[2018-11-19 11:32] nbdnnm opened #864 "Add aliases for $ and $$ similar to $x and $$x but for all another selector types"
Hello,

I would like to propose the next improvement:
Introduce the same separate selector aliases for $ and $$ as for xpath ($x and $$x), e.g.
Java selector | proposed selenide selector
--------------|-----------------------------
className | $className, $SclassName
cssSelector | $css, $Scss
id | $id, $$id
linkText | $linkText, $$linkText
name, $name, $$name
partialLinkText | $partialLinkText, $$

[2018-11-19 11:36] rosolko commented on #864
Not planed.
Selenide contains only aliases that can be copied and reused in a console.

[2018-11-19 11:36] #864 closed

[2018-11-19 12:15] nbdnnm opened #865 "Add aliases for $ and $$ for Kotlin"
Hello,

Kotlin doesn't support $ and $$ without \` \`, so how about to add aliases, like S and SS or something else?

[2018-11-19 13:33] d-astanin commented on #865
For your kotlin project you can use code like that
[code]

[2018-11-19 13:36] vinogradoff commented on #865
…which looks ugly

I would also support aliases, e.g. S/SS or s/ss or something else.

Viele Grüße

Alexei Vinogradov

On 19. November 2018 at 13:15:38, nbdnnm (notifications@github.com) wrote:

The problem

Briefly describe the issue you are experiencing (or the feature you want to
see added to Selenide).
Tell us what you were trying to do and what happened instead.
Details

If necessary, describ

[2018-11-20 11:35] evgeny-tumashchick commented on #865
Hi folks, actually I use Selenide in my Kotlin project.
I call mentioned aliases like this:
`$`(fieldLocator)   / `$x`(fieldLocator)
`$$`(fieldLocator)   / `$$x`(fieldLocator)

[2018-11-20 13:30] jkromski commented on #865
wouldn't be better to follow naming from SelenideElement which is `find` for $?

[2018-11-20 13:42] vinogradoff commented on #865
Not quite. $() doesn't actually do any search yet. Find is misleading then.

Viele Grüße

Alexei Vinogradov

On 20. November 2018 at 14:30:51, Jacek (notifications@github.com) wrote:

[2018-11-20 13:52] jkromski commented on #865
Interface says it is the same
[code]
[code]

[2018-11-20 13:56] jkromski commented on #865
[code]
find is original method, $ is only an alias for it, so I would add find and findAll into Selenide class.

[2018-11-20 14:17] vinogradoff commented on #865
I know:) it is not perfect, because findElement() in Selenium start search,
so many assume find() in Selenide start search too, but it doesn't. Legacy
name :)

Viele Grüße

Alexei Vinogradov

On 20. November 2018 at 14:57:00, Jacek (notifications@github.com) wrote:

[2018-11-20 15:14] jkromski commented on #865
I don't get why this is a problem. Selenide has proxy elements, why do you care that find/$ does not find immediately?
Selenide solve that problem of immediate searching, which is good.
From what I see, this ticket is for adding better support for Kotlin.

find()/findAll() in Selenide Class will provide that support, without introducing brand new alias as it exists already in SelenideElement
If we

[2018-11-20 15:40] vinogradoff commented on #865
it is not a *problem*. I just don't like "find" to be part Selenide DSL if it doesn't search. It is already partly (in SelenideElement) due to historical reasons. I more like introducing s/ss (or whatever new alias) and deprecating find/findAll.

[2018-11-20 15:42] rosolko commented on #865
As described before, if you want to use your own aliases just implement on your side.
Ref: https://github.com/selenide/selenide/issues/865#issuecomment-439894042

[2018-11-20 16:59] vinogradoff commented on #865
From point of view of Selenide user, I would not want to know about lazy evaluation or other patterns used **inside of** Selenide, just well-working and readable functions :)

[2018-11-21 09:35] BorisOsipov commented on #863
Problem appears when uses softasserts
[code]

[2018-11-21 10:00] BorisOsipov commented on #863
It is not softasserts. In your example your your `Test` class extends `PageObject` class. So when testng runs test it instantiates `Test` instance in thread №1, so all your page object elements bounded to thread №1.

To fix it just get rid of such inheritance.

[2018-11-21 10:00] #863 closed

[2018-11-21 12:07] plagov commented on #863
@ganzolik1234 see description in 5.0.0 release notes under _Selenide doesn’t open a browser automatically_ header: https://selenide.org/2018/10/10/selenide-5.0.0/

In short, define an instance of page object class and instantiate it in `@BeforeMethod`, like:

[code]

I had the same issue and this solution helped me.

[2018-11-21 14:30] rosolko commented on #858
@jyfang821 Based on your provided code user click on the span, that is bootstrap switch and input is hidden by css.

[2018-11-21 17:05] asolntsev commented on #858
@jyfang821 Can you please show your code? Which method do you call? Selenide hasn't method `is_displayed()`.

[2018-11-21 21:49] asolntsev commented on #201
@gedankennebel We are discussing a better method name in PR https://github.com/selenide/selenide/pull/851

[2018-11-22 15:03] AlexanderPoleschuk commented on #839
@asolntsev remote variable was one of the ways(or maybe the only) for real browser maximization.
I've described part of this in https://github.com/selenide/selenide/issues/838. So, instead of enlarging the window size to screen size we've used remote to manage this, cause remote really maximized the window.
As now I'm not able to run test cases against Jenkins, I've removed remote initialization a

[2018-11-22 16:55] jkromski commented on #865
my view:
- add `find`, `findX`, `findAll`, `findAllX` methods in Selenide class (going further I would deprecate `x` methods as each xpath starts with `/` so finding if this is xpath could be done on SelenideDriver level)
- deprecate getElement* methods as they don't follow naming convention from SelenideDriver or SelenideElement

[2018-11-24 20:37] asolntsev commented on #839
@AlexanderPoleschuk Can you show **compilable code** that reproduces the problem? Otherwise we cannot investigate it. The code provided in the beginning of this issue is **not compilable**: method `setup()` uses variable `remote` which is **not defined** anywhere.

[2018-11-24 20:44] asolntsev commented on #797
@rosolko I don't like the idea of introducing "reload strategy" because it makes things more complex. It makes user's life harder if Selenide has too many options.

@kalumpiwarra
* It seems to me that we never implemented behaviour that you described in "Before Selenide 4.12.3" part. At least intentionally :)
* In "Since Selenide 4.12.3" part, I still don't understand how you are getting `StaleEle

[2018-11-26 03:17] kalumpiwarra commented on #797
@asolntsev

- It seems that "Before Selenide 4.12.3" behavior was as I described. Here is the code:
[code]
- "Since Selenide 4.12.3" iterator fetching elements and if something was changed in the DOM during iteration it may produce `StaleElementReference` exception. F.e. in an angular application I'm iteration via elements collection and perform an action with each element (f.e. click on it). One

[2018-11-26 05:49] alexmuzyka opened #867 "Selenide 5.0.0. WebDriverRunner.setWebDriver(new ChromeDriver()) incorrect behaviour"
Code:
...
WebDriver instance1 = WebDriverRunner.getWebDriver();
WebDriverRunner.setWebDriver(new ChromeDriver());
WebDriver instance2 = WebDriverRunner.getWebDriver();
...

On Selenide 4... it worked as we expected: we have two instances, and can easely switching between them.

On Selenide 5.0.0 after WebDriverRunner.setWebDriver(new ChromeDriver()) - WebDriverRunner is closing opened browser (ins

[2018-11-26 06:32] rosolko commented on #867
No, we can't.
Use a new approach for two instances:
[code]

[2018-11-26 08:43] BorisOsipov commented on #867
@alexmuzyka We suggest to use new approach as described @rosolko

But it seems to need ahve look at this issue deeper.

[2018-11-26 11:19] AlexanderPoleschuk commented on #839
Here you go. As I've said - remote used to maximize the window to full width. The code below works with latest 4.* version, but doesn't work starting with 5.*. The code might seem strange, but it was used for quite a long time on a purpose to save environment values for a build run. And I don't complain about the way Selenide 5 works now, this is more informative issue thing.

[code]

[2018-11-27 07:33] BorisOsipov commented on #607
@simple-elf yes it is.

[2018-11-27 07:33] #607 closed

[2018-11-27 11:38] igor-dmitriev commented on #225
It would be a nice feature

[2018-11-27 11:51] asolntsev commented on #225
@igor-dmitriev Feel free to submit a pull request! :)

[2018-11-27 11:59] asolntsev commented on #839
@AlexanderPoleschuk Thank you, now I can investigate your issue.

The problem is in method `setup()`. You just need to remove one line:

[code]

It will solve your problem.

P.S. There is an open issue for similar problem: https://github.com/selenide/selenide/issues/867

[2018-11-30 14:13] vadympavlenko opened #871 "Undocumented change from -Dremote to -Dselenide.remote"
## The problem
Starting from Selenide version 5.0 Configuration.remote is initialized from environment variable 'selenide.remote' (was 'remote').
(https://github.com/selenide/selenide/blob/master/src/main/java/com/codeborne/selenide/SelenideConfig.java#L14)

## Could you please:
Consider reverting
or
1. Update release notes (https://selenide.org/2018/10/10/selenide-5.0.0/)
2. Update documentation

[2018-12-03 20:54] BorisOsipov commented on #862
@andreif2018 Sorry for long response. Are you solve your problem or the issue is still actual?

[2018-12-04 21:47] asolntsev commented on #838
@AlexanderPoleschuk @symonk Just tried - still getting the same problem. :(

I am executing:
[code]

and getting:

[code]

[2018-12-04 22:05] #871 closed

[2018-12-05 10:42] pavelpp opened #873 "Can't use SelenideElement if it was declared before setWebDriver() method"
## The problem
As per issue title, declaring a SelenideElement before calling `WebDriverRunner.setWebDriver(driver)` method leads to an IllegalStateException whenever user tries to interact with the element.

## Details
If we do not use setWebDriver method, then everything works regardless of where you declare SelenideElement. It can be a test class field for instance and still works. Exception st

[2018-12-05 10:51] AlexanderPoleschuk commented on #838
@asolntsev

The issue was fixed in 2.44 drvier.
Here are release notes:
https://sites.google.com/a/chromium.org/chromedriver/downloads

However, I'm not sure how we may provide backward-compatible solution for pre-2.44 versions, if we remove this workaround.
Thoughts?

[2018-12-05 10:58] rosolko commented on #838
Can confirm, maximize works on a macos with `2.44` version of chromedriver

[2018-12-05 13:36] asolntsev commented on #838
@AlexP no problems. Selenide contains file `versions.properties`, so we can assume that (most of) Selenide users use the right chromedriver version.

[2018-12-05 20:40] symonk opened #875 "selenide has issues for intellij 2018.3 users"
Hi, I use 2018.3 intellij ultimate and running tests from a fresh clone was a real headache.  After some investigating (I'm not very familiar with gradle) we should consider adding the following:

[code]

I also had problems around $junitVersion 5.3.2 and had to use 5.0.1.

[code]

Maybe I am doing something wrong with gradle? but it is impossible to work effectively because I cannot run my integr

[2018-12-05 22:03] vinogradoff commented on #875
What’s setup once again you have problems with?

5.0.1 and JUnit 5.3.2 with gradle?

does it work from CLI: gradle test?

does it work when you start in IDE?

Viele Grüße

Alexei Vinogradov

On 5. December 2018 at 21:40:34, Sy (notifications@github.com) wrote:

Hi, I use 2018.3 intellij ultimate and running tests from a fresh clone was
a real headache. After some investigating (I'm not very famili

[2018-12-05 22:17] symonk commented on #875
@vinogradoff thanks I will confirm the setup tomorrow, I have changed a lot of things to focus on some PR work for now and I can't fully recall, but I will reset and document the problems and report here later.

[2018-12-06 09:03] symonk commented on #861
@paveltrue please provide a good reproducible snippet of your code to demonstrate this problem and I will look into it.  Awaiting your response, thank you.

[2018-12-06 09:31] symonk commented on #862
will investigate tomorrow night (not home until then)

[2018-12-06 10:22] jkromski commented on #873
From what I understand, by using $() you setting up a default driver and $ uses it to declare SelenideElement, so if you're setting driver manually after $ then Selenide closes previous one and that is why you get the error.
[code]

I think this is not an bug, you should set driver before using it. if you need to declare element before then declare selector only as String and after setting up the

[2018-12-06 10:38] vinogradoff commented on #873
$() is not supposed to set up any particular driver, it just making use of
a drivers configured at other places.

So I guess it is a bug)

Viele Grüße

Alexei Vinogradov

On 6. December 2018 at 11:22:58, Jacek (notifications@github.com) wrote:

[2018-12-06 10:41] pavelpp commented on #873
@jkromski  that would have been true if it didn't work without using setWebDriver() method, letting Selenide setup driver, but it's not the case. The issue is only happening when setWebDriver method is used. See my example above without usage of setWebDriver, where element is declared as a field - this still works.

[2018-12-06 10:45] vinogradoff commented on #873
Actually, I've looked into code and it looks like bug. I hope to fix it
until Sunday.

Viele Grüße

Alexei Vinogradov

On 6. December 2018 at 11:41:40, pavelpp (notifications@github.com) wrote:

[2018-12-06 10:46] jkromski commented on #113
I would love that feature. We wasted some time already because we were thinking that we selected right element. Having .flash() or enabling some kind develop mode which would highlight every single element which is used, would be awesome.

I get the point that this could be implemented by users, as many other things. My biggest point is, Selenide simplifies and helps creating tests. This is what h

[2018-12-06 11:20] jkromski commented on #113
and I will, but it would be great to have it in place/built-in.

Before seeing that ticket I didn't know that it could be resolved this way. So I guess there are many users/developers/testers who still trying to find out if they found right element. If we could have it as built-in functionality then these users will appreciate a lot. This would be another argument to use Selenide instead of Seleni

[2018-12-06 11:32] BorisOsipov commented on #113
My point is - Selenide is great tool for specific tasks. But we must not include all things that users want - it makes tool overcomplicated in use and support. It will be nice to follow some kind of unix way as may as we can.

[2018-12-06 11:49] jkromski commented on #113
I get that, but this shouldn't be resolved only by opinions, and no general rules. Why reject that functionality over other?

Why we have screenshots? They can be implemented by users, don't they?

It has been reported few times, which means people feel that this functionality should be in. It solves a problem which they have.

Out of Topic: would be good to define some rules on what should be add

[2018-12-06 14:45] Salamander75 opened #877 "java.lang.NoSuchMethodError: com.codeborne.selenide.SelenideWait.withTimeout"
## The problem
We have updated our Selenide version to 5.0.1 and my test uses _confirm_("Some text") method. It used to work in Selenide 4.2. But now I get error: java.lang.NoSuchMethodError: com.codeborne.selenide.SelenideWait.withTimeout

## Details
We use Java 8 JDK
We use the following dependencies for UI testing:
        dependency 'org.seleniumhq.selenium:selenium-server-standalone:2.46.0'

[2018-12-06 14:51] BorisOsipov commented on #877
@Salamander75 can you remove all selenium dependencies from your build file and confirm that issue reproduces?

[2018-12-06 14:53] BorisOsipov commented on #877
at least remove `selenium-server-standalone`

[2018-12-06 15:01] Salamander75 commented on #877
Yes the error is still there. I removed standalone server dependency. Could not remove the others though, otherwise other errors occured

[2018-12-06 15:04] BorisOsipov commented on #877
@Salamander75

Which one? In fact you need only selenide deps to work with selenium.

[2018-12-06 15:08] Salamander75 commented on #877
Well if I only left dependency 'com.codeborne:selenide:5.0.1' and tried to run my test, then for example the following errors occured:

Error:(220, 27) java: cannot access org.openqa.selenium.WrapsDriver
  class file for org.openqa.selenium.WrapsDriver not found

Error:(54, 38) java: cannot access org.openqa.selenium.interactions.internal.Locatable
  class file for org.openqa.selenium.interactions

[2018-12-06 15:10] Salamander75 commented on #877
And I would like to add that those errors which I mention above about SelenideWait.java class also still persist

[2018-12-07 10:29] BorisOsipov opened #878 "NPE on open, when driver set by WebDriverRunner.setWebDriver() and proxy is on"
## Code To Reproduce Issue [ Good To Have ]
[code]

## Details
[code]

## Tell us about your environment
* **Selenide Version:*5.0.1*

[2018-12-07 10:30] BorisOsipov commented on #878
Selenide mustn't throw ugly NPE

[2018-12-07 12:57] Salamander75 commented on #877
Hello. Sorry for delay. Was off from work and also had to get a permission to share.
Gist file for build.gradle https://gist.github.com/Salamander75/9e20e04a70e7101ece844c0896e926bd

[2018-12-07 17:09] tdelphi opened #880 "Regression in Screenshots.getLastScreenshot()"
## Regression bug
Screenshots.getLastScreenshot() returns null after upgrade to Selenide 5.x

## Environment
* **Selenide Version:** 5.0.1
* **Junit Version:** 4.x

## Details
Declare test with
[code]
After test failed, try to get last screenshot via Screenshots.getLastScreenshot()

### What is expected
Path to last screenshot is returned (as it worked in Selenide 4.x)

### What happened
Screensho

[2018-12-07 22:51] asolntsev commented on #877
@Salamander75 Clearly, you have too old `selenium-support-*.jar`.
Please execute `./gradlew dependenices` and see which version of `selenium-support` are you getting and why.

[2018-12-07 22:53] asolntsev commented on #865
@jkromski We are still arguing there :)

[2018-12-09 22:44] vinogradoff commented on #875
on a side note, as I've upgraded from 2018.2 to 2018.3 recently, the project could not be built from IDEA. It looks like a bug of IDEA, and one-time restart helped. I've built selenide several times since that.

[2018-12-09 22:51] vinogradoff opened #884 "Refactor actions to stop checking element for interactability beforehand"
This is a refactor proposal to make Selenide more performant.
At the moment before each action like .click(), setValue() etc. the interactability (almost == visibility) is checked. This is probably part handling problems of legacy Selenium versions. Thus each action performs one extra search request which could be spared, if element is interactable right away.

Still current code handles asynchron

[2018-12-10 08:08] symonk commented on #875
ok I will put up some info on my lunchbreak today, I think the problem I had was around junit5 and Optional.  will put exact errors and how I fixed it later today.

[2018-12-10 08:31] symonk commented on #838
```Starting ChromeDriver 2.44.609545 with => Version 70.0.3538.110 (Official Build) (64-bit)```

successfully maximized

[2018-12-10 08:58] Salamander75 commented on #877
Okay. My progress has been the following: Since I am using Spring Boot version 1.5.13.RELEASE and according to https://docs.spring.io/spring-boot/docs/2.1.1.RELEASE/reference/htmlsingle/#appendix-dependency-versions, it downloads Selenium versions 2.53.1 and it overrides the versions what Selenide tries to bring to application (in short, Selenide tries to use versions 3.*.* of Selenium but Boot ov

[2018-12-10 09:03] BorisOsipov commented on #877
@Salamander75 Ok. Happy coding!

[2018-12-10 09:03] #877 closed

[2018-12-10 20:57] symonk commented on #875
with a default import of selenide into IDEA 2018.3 we see the following:

[code]

[2018-12-10 22:34] vinogradoff commented on #875
Do you mean reproduction:

1. install 2018.3
2. git clone selenide
3. standard import
4. build from idea...? Or what?

Viele Grüße

Alexei Vinogradov

On 10. December 2018 at 21:57:50, Sy (notifications@github.com) wrote:

[2018-12-11 11:45] Balilaci opened #886 "SelenideElement Condition should not throw element not found exception if the condition not match"
## The problem
When I use the SelenideElement.ShouldHave(text/exactText("expectedText")) on a snackbar element it is bad if the process wait for the text if it is not matched, because than I get an element not found exception insted some kind of text not match exception.

## Details
If necessary, describe the problem you have been experiencing in more detail.

## Tell us about your environment
* *

[2018-12-11 11:57] vinogradoff commented on #886
Could you please add snippet and logs explaining your problem?

I am not getting it otherwise

[2018-12-11 14:13] Balilaci commented on #886
Here is a part of the HTML code that exists only for a few seconds.

`<div class="v-snack snackbar-style v-snack--active v-snack--bottom v-snack--right" id="sbr_notification">
	<div class="v-snack__wrapper success">
		<div class="v-snack__content">
			<div class="layout">
				<div class="flex snackbar-icon align-centervertically xs2 sm-1">
					<i aria-hidden="true" class="v-icon material-icons">

[2018-12-11 15:23] vinogradoff commented on #886
Separate it in two lines:

[code]

should work just fine.

[2018-12-11 23:10] symonk commented on #878
what do you prefer in this instance?  issue lies with: https://github.com/selenide/selenide/blob/e5d2d3bf738628f90ba7b0af97c80359b1e3f055/src/main/java/com/codeborne/selenide/drivercommands/Navigator.java#L101

because selenideProxy is null from:

[code]

[2018-12-11 23:42] symonk commented on #399
@asolntsev @kenston thoughts on:

[code]

We can overload the TargetSelector window methods for index/title/handle etc ?

[2018-12-12 14:39] mplushnikov opened #887 "NPE on opening WebDriver to remote Selenium HUB"
I'm trying to update our test-project from selenide 4.12.3 to current version.
Unfortunately I'm getting a NullPointerException during initialization:

[code]
The same error occured if i try selenide 4.13.0

It works perfect with selenide 4.12.3:
[code]

We use pretty standard Configuration:
Configuration.browser = CHROME;
Configuration.timeout = TimeUnit.SECONDS.toMillis(10);
Configuration.savePa

[2018-12-12 21:48] asolntsev commented on #887
@mplushnikov Could you please share the **full stack trace**? The most valuable part is **after** `Caused by: java.lang.NullPointerException`

[2018-12-12 21:52] asolntsev commented on #399
@symonk Agree. Just one more suggestion: let set `timeout` type to `java.time.Duration`, not `long`.
Then users can use it like this:

[code]

[2018-12-12 21:58] asolntsev commented on #886
@Balilaci Does it solve your problem?

[2018-12-12 22:21] asolntsev commented on #878
@symonk @BorisOsipov I suggest just showing a better error message. For example:

I created a pull request, please take a look: https://github.com/selenide/selenide/pull/888

[2018-12-12 22:33] asolntsev commented on #873
@pavelpp @jkromski  @vinogradoff No, it's not a bug. It was a decision made in Selenide 5.0. See https://selenide.org/2018/10/10/selenide-5.0.0/:

It may see a bit unexpected, but I believe it will cause a better design of your tests. For me, it's really a strange decision to declare `SelenideElement` as a field in test class. Let's initialise it when it's needed.

[2018-12-12 22:38] asolntsev commented on #862
@andreif2018 I guess you call `$` *before* opening a browser. Am I right?

I just tried to call `$` *after* opening a browser, and everything works:

[code]

If this is true, you just need to move all `$` calls *after* opening a browser.

[2018-12-12 22:44] pavelpp commented on #873
It is indeed unexpected as it used to work before and not anymore. Secondly, if it's not supposed to work like this then behaviour is not consistent when setWebDriver method is not used. How do you explain this? @asolntsev Make it work the same way in both cases, otherwise it just does not make any sense.

[2018-12-12 22:52] asolntsev commented on #873
@pavelpp Well, I agree, Selenide should throw IllegalStateException even if `setWebDriver` was not used. I will do it in version 5.1, thanks for the suggestion.

P.S. But it will not solve your problem. :)

[2018-12-12 22:53] pavelpp commented on #873
@asolntsev it's fine as long as the behaviour is consistent

[2018-12-12 23:43] asolntsev commented on #867
See PR https://github.com/selenide/selenide/pull/890

[2018-12-13 09:03] symonk commented on #887
@mplushnikov please post up your test code too.

[2018-12-13 09:19] symonk commented on #873
Agree, lets improve what we are telling the user under this circumstance, but I think its a very uncommon to write test code like this

[2018-12-13 09:44] symonk commented on #875
1. `git clone <selenide-fork>`
2. import gradle project into IDEA 2018.2.2 / 2018.3
3. select ok on gradle with auto-import option
5. gradle build
6. weird issue here like you say, reboot required for imports to work
6. choose 1 integration test, right click test method and run it (canTakeSnapshotOfCollection())
7. Failure:

[code]

Again, I don't really have experience with gradle, am I doing som

[2018-12-13 10:00] symonk commented on #875
here is the problem:

```testRuntimeOnly("org.junit.jupiter:junit-jupiter-engine:$junitVersion")```

should be something like:

```compile("org.junit.jupiter:junit-jupiter-engine:$junitVersion")```

?

[2018-12-13 10:52] rosolko commented on #875
@symonk
Can confirm issue, but it's going not from Idea 2018.3 incompatibility - it's going from gradle 5 version. Looks like they tune dependency resolution a little bit.
In result we should move out `junit-jupiter-engine` from `testRuntimeOnly` level, and not to `testCompile` but to `testImplementation`.
Test it with this config and if this will works i'll made changes in a master directly

[2018-12-13 11:08] symonk commented on #875
sure thing!

[2018-12-13 11:22] symonk commented on #875
need your feedback on #891, works nicely for junit engine

[2018-12-13 11:35] vinogradoff commented on #873
I still see it as a bug. I will propose a fix later this week.

[2018-12-13 13:15] asolntsev opened #892 "All downloaded files should be stored in unique locations"
## The problem
Currently Selenide downloads all files to `build/reports/tests` with their original names.
It can cause a problem when several parallel tests download multiple files with the same name.

We need to generate unique location for every downloaded file.

[2018-12-13 14:36] asolntsev commented on #873
@vinogradoff before you start fixing something, could you explain why you think it's a bug? It was an intentional change.

[2018-12-13 14:40] #875 closed

[2018-12-13 16:02] vinogradoff commented on #873
Sure.

This fails.
[code]
This  works
[code]

WebDriver is changed before open - perfectly fine. There is no reason to connect elements definition with any WebDriver instance, so it may happen in any place. And as far as I remember it is not even connected, but doesn't work as a side effect due to some other minor issue in setWebDriver calls.

[2018-12-13 17:10] asolntsev commented on #873
And where is the real problem?
Aren't you agree that much better is to first open a browser and then find elements?

[2018-12-13 19:57] vinogradoff commented on #873
I still insist that the line doesn't search and doesn't find. It declares location algorithm. Declaration can be placed anywhere.

This example is of course

[2018-12-13 20:55] andreif2018 commented on #862
@asolntsev thanks for response, in my case the test is parameterized where parameter is selenide element and I call and assert this parameter after reopen and it does not work. in regular, not parameterized tests it works perfect. what can be solution with selenide? By the way, currently I use workaround in parameterized test by call execute javascript method with "window.close();"

[2018-12-13 22:59] #867 closed

[2018-12-13 23:31] asolntsev commented on #873
@vinogradoff Who said that? Why? I never said it. `$` just loads elements *lazily*.

Anyway, my question is still in the air:
* And where is the real problem? (snippet above can be easily fixed: just move `$` below `setWebDriver`. I don't see any problems here.)
* Aren't you agree that much better is to first open a browser and then find elements?

[2018-12-13 23:33] asolntsev commented on #862
@andreif2018 Wow. Sorry, but it seems like a total misuse of test parametrization. Don't pass `SelenideElement` as a test parameter. Test parameters are meant to be Strings, Integers or something like that. Usernames, passwords, account numbers etc. You just need to call `$` exactly in the place where you need a web element.

[2018-12-13 23:55] symonk commented on #399
I will take this one, starting soon

[2018-12-13 23:57] vinogradoff commented on #873
There is a better solution - to make a code change and let the both snippets to have the same result.

[2018-12-14 00:01] asolntsev commented on #873
You are not answering my questions. :(

[2018-12-14 11:57] vinogradoff commented on #873
If you insist.

I was never saying it was you. I don't know who says it except me. Why - because it work this way.

The different behaviour of the two snippets is illogical. It is a real problem with quality, yes. That you have workaround doesn't make the problem less real.

We cannot find element before opening the browser, for sure. But even if you put _"find"_ and _"declare"_ to be equal, and e

[2018-12-14 20:33] vinogradoff commented on #873
Where I called `By username = By.name("username");` a hack?

Why? Why you don't want me to declare SelenideElement as I always do the last years?

[2018-12-14 20:37] vinogradoff commented on #873
just beware, that if you throw IllegalStateException every time, $() is used, bevor open() is called - it will break plenty of test, probably my tests too. For what reason?

[2018-12-17 08:30] symonk commented on #862
ouch @andreif2018 yes please do not iterate in a test with providing different WebElement(SelenideElement) for each iteration, this is a very bad practice.

[2018-12-17 08:33] symonk commented on #892
perhaps, to also include https://github.com/selenide/selenide/issues/225 ?

[2018-12-18 19:59] darklynx commented on #814
Interesting, we also have experienced similar issue with a major switch from Selenide ver `3.7` to `5.0.1` - the screenshot for failed tests have disappeared. Still trying to figure out the true cause.

@afamee have you found anything?

[2018-12-18 21:02] darklynx commented on #814
Partially our problems are related to the issue #880
But I still do not see some screenshots for failed tests that in past were properly generated.

[2018-12-18 21:18] darklynx commented on #880
`Screenshots` class is used in [ScreenShooter](https://github.com/selenide/selenide/blob/master/statics/src/main/java/com/codeborne/selenide/testng/ScreenShooter.java)

This might cause some concurrency issues when tests are running with TestNG and result in lost screenshots mentioned in the issue #814

[2018-12-19 07:43] Silentpax commented on #853
Hi

I've encountered the same issue using docker and xvrb.

CHROME_VERSION: 68.0.3440.84
CHROMEDRIVER_VERSION: 2.42
Initial DockerFile that I'm building on maven:3.5.4-jdk-8

xvrb command: `xvfb-run --server-args="-screen 0 2560x1440x24" mvn -e -B exec:java -PRunner`

What's funny, on my local machine (Linux mint 18.3) this problem does not exist.

[2018-12-19 07:50] BorisOsipov commented on #853
@Silentpax your issue is:
you use
[code]
and some docker image your app url isn't loading, am I rigth?

[2018-12-19 07:50] rosolko commented on #853
As I remember headless chrome doesn't require xvfb session

[2018-12-19 08:00] Silentpax commented on #853
@BorisOsipov exactly, just a blank page in screenshot

@rosolko will check it out

[2018-12-19 08:17] BorisOsipov commented on #853
@Silentpax also simple project with test and your dockerfile will help us to reproduce issue.

[2018-12-19 09:01] darklynx opened #894 "Outdated documentation about screenshots"
## The problem
The [Selenide screenshots](https://selenide.org/documentation/screenshots.html) documentation of the official web-site is out of date.

## Details
You have dropped the support for `selenide.reports` system property (probably deprecated before) in favor of `selenide.reportsFolder` property only. Yet the official documentation about [Selenide screenshots](https://selenide.org/document

[2018-12-19 10:32] BorisOsipov commented on #894
@darklynx Thanks for reporting this. Fixed

[2018-12-19 15:57] sadsridh commented on #201
Thanks @asolntsev this addresses a lot of failures due to ElementNotVisible errors.

[2018-12-20 17:40] daggerok opened #895 "How to specify / freeze web driver binary path and avoid any external api calls"
Hello,

as I can see, during Selenide tests, WebDriverManager is always seeking and downloading web driver during test execution. We are running tests in Docker without cache and previously where wasn't any issues with that:

[code]

but last time we more often facing with issues like that:

[code]

I think it's because we a running multiple parallel test jobs and github API is not happy anymore a

[2018-12-20 17:44] rosolko commented on #895
Pass `driverManagerEnabled` configuration with `false` value.

[2018-12-20 17:46] BorisOsipov commented on #895
@daggerok yes you can

set `webdriver.gecko.driver` env variable in your docker contaner and selenide won't try download it by itself.

[2018-12-20 17:46] #895 closed

[2018-12-20 17:46] daggerok commented on #895
Thank you

[2018-12-20 17:48] BorisOsipov commented on #895
@daggerok forgot to mention. `webdriver.gecko.driver` value should be path to gecko driver binary.

[2018-12-20 19:22] daggerok commented on #895
OK, I can confirm, that @BorisOsipov solution is working fine: adding to JAVA_OPTS `-Dwebdriver.gecko.driver=/usr/bin/geckodriver` solved my issue.

@rosolko solution wasn't tested, because we not tuning WebDriverManger manually and here https://github.com/bonigarcia/webdrivermanager I didn't found mentioned property in WebDriverManager API

Thanks

[2018-12-20 19:31] daggerok commented on #895
Thank you, @rosolko, Good to know

And still I decided use system property, for us it's better solution, then just disable driver manager completely. Developers would like to use that feature, only CI parallel docker builds don't needed.

[2018-12-20 19:37] vinogradoff commented on #895
There is also system property -Dselenide.driverManagerEnabled just in case
:)

Viele Grüße

Alexei Vinogradov

On 20. December 2018 at 20:31:30, Maksim Kostromin (notifications@github.com)
wrote:

Thank you, @rosolko <https://github.com/rosolko>, Good to know

And still I decided use system property, for us it's better solution, then
just disable driver manager completely. Developers would like to

[2018-12-20 19:39] daggerok commented on #895
Maybe someone can point me where can I look at full list available system properties supported by Selenide?

[2018-12-20 19:41] rosolko commented on #895
https://github.com/selenide/selenide/blob/master/src/main/java/com/codeborne/selenide/SelenideConfig.java

[2018-12-20 19:42] BorisOsipov commented on #895
@daggerok Sure see https://github.com/selenide/selenide/blob/master/src/main/java/com/codeborne/selenide/SelenideConfig.java

[2018-12-20 19:44] daggerok commented on #895
Awesome!
Thanks guys

[2018-12-20 19:46] vinogradoff commented on #895
https://github.com/selenide/selenide/blob/master/statics/src/main/java/com/codeborne/selenide/Configuration.java

this class has all properties documented

Viele Grüße

Alexei Vinogradov

On 20. December 2018 at 20:39:35, Maksim Kostromin (notifications@github.com)
wrote:

Maybe someone can point me where can I look at full list available system
properties supported by Selenide?

—
You are receivi

[2018-12-21 14:23] janeberets commented on #861
This situation may occur when using a non-valid SSL certificate. Do you use the HTTPS on the testing site?

[2018-12-24 08:16] Roland4444 opened #898 "java.lang.NoSuchFieldError: INSTANCE"
java.lang.NoSuchFieldError: INSTANCE
	at org.apache.http.conn.ssl.SSLConnectionSocketFactory.<clinit>(SSLConnectionSocketFactory.java:146)
	at io.github.bonigarcia.wdm.HttpClient.<init>(HttpClient.java:121)
	at io.github.bonigarcia.wdm.HttpClient.<init>(HttpClient.java:90)
	at io.github.bonigarcia.wdm.WebDriverManager.manage(WebDriverManager.java:421)
	at io.github.bonigarcia.wdm.WebDriverManager.

[2018-12-24 08:19] Roland4444 commented on #898
https://github.com/Roland4444/scala_webdriver/blob/master/pom.xml   pom file

JDK 8

[2018-12-24 08:36] rosolko commented on #898
@Roland4444 For first all `org.seleniumhq.selenium` package imports not necessary. For second - issue going from [webdrivermanager](https://github.com/bonigarcia/webdrivermanager) library not from selenide.

[2018-12-24 09:50] Roland4444 commented on #898
nah. Without selenide all works good

Selenium only

[2018-12-24 10:44] rosolko commented on #898
selenide use webdrivermanager library inside, and this  issue well known and it's going from webdrivermanager

[2018-12-24 12:31] vinogradoff commented on #898
I don't see any selenide or tests here in the pom

[2018-12-24 22:57] tanel3203 opened #899 "Scraping multiple pages of Google, unexpected results"
## The problem
Selenide scrapes the first page of google results as expected. For second the scraped results show a mix of first and second page. When using non-headless mode, the results on the second page are actually different from first page in full.

## Details

*The results of the code example for first page:*
http://www.cs.otago.ac.nz/cosc348/alignments/Lecture04_StringSearch.pdf
http://www

[2018-12-25 11:13] vinogradoff commented on #899
The thing is that after click you are changing from page1 to page2, but
starting the evaluate 10 result immediately. So 7 are gathered from page 1,
3 from page 2 in your case. How to avoid it? Basic idea: try to figure out
the moment when you are definitely on page 2. for example:
$(pageno).shouldHave(exactText("2"))

Or $(firsthit_from_page1).should(disappear)

Only after that - $$()...

[2018-12-25 12:32] vinogradoff commented on #899
Yes, it is solved, except that if you have a construct of 10 items with
some layout, which are replaced with 10 items of identical layout (but
different texts) it is impossible to tell arbitrary of 10 items you see are
old or new. So you need some anchor on inhalt that get changed - like page
number or concrete text of an item. In your example the anchor was - 10
results which is same every time

[2018-12-25 12:46] tanel3203 commented on #899
After the click to second page, added the following:
[code]
Google changes the page link to text and adds class cur.
After this continued with the $$(..

Did one round of manual testing with the same browser. This seems to have fixed it.

Thanks @vinogradoff ! Closing this.

[2018-12-25 12:46] #899 closed

[2019-01-12 22:42] asolntsev commented on #865
Implemented in https://github.com/selenide/selenide/pull/870
Will be released in Selenide 5.2.0

@jkromski Thank you for the contribution!

[2019-01-12 22:42] #865 closed

[2019-01-16 10:23] kieranshaw opened #900 "Screenshooter should have option to save screenshots with test class and test name"
## The problem
The ScreenShooter rule saves onfailure screenshots in a single folder with a time based filename. This makes it hard to tell what the screenshot relates to. It would be more useful if it used the underlying ScreenShotLaboratory functionality to save them in a folder and named after the test.

## Code To Reproduce Issue [ Good To Have ]

Something like this would do it, or we could l

[2019-01-24 22:34] symonk commented on #766
@asolntsev we can close this, fixed in PR

[2019-01-24 22:38] symonk commented on #838
@asolntsev @rosolko any more thoughts on this?

[2019-01-24 22:40] symonk commented on #793
@asolntsev @vinogradoff requesting to close? documentation already covers this

[2019-01-24 23:20] #793 closed

[2019-01-24 23:21] asolntsev commented on #838
@symonk thank you for the reminder! I will try it once more on my Mac and then remove the black magic.

[2019-01-24 23:22] #766 closed

[2019-01-25 08:03] symonk commented on #838
sure thing, if you need help checking something just ping me

[2019-01-25 09:41] jbarop commented on #560
Please note that `chromeoptions.args` expects all arguments to be comma separated.

-Dchromeoptions.args=--headless,--disable-gpu,--no-sandbox

[2019-01-25 14:44] asolntsev commented on #838
@symonk Allright, I checked out - Chrome maximization now works on MacOS. I created a PR: https://github.com/selenide/selenide/pull/901

[2019-01-25 17:25] #838 closed

[2019-01-29 07:59] symonk commented on #697
@rosolko @asolntsev @vinogradoff is this solved with #883 ? #836 got closed

[2019-01-29 08:16] vinogradoff commented on #697
Yes, solved by #883

[2019-01-29 08:16] #697 closed

[2019-01-29 13:37] nikita-prikazchikov opened #902 "Issue with remote Webdriver (browserstack) and guice PO injection. Driver is closed right after it is opened"
## The problem
Selenide from version 5.0.0 is not able to work with browserstack using PO injected with Guice.
It seems to me that the issue is similar to  #629
## Details
I see following error right after open() method call in the next code statement
java.lang.IllegalStateException: Webdriver has been closed. You need to call open(url) to open a browser again.
I tried all 5.* version of selenide

[2019-01-29 23:10] asolntsev opened #903 "`disable-infobars` gets lost in Selenide"
## The problem
Selenide opens browser with an annoying "this browser is being controlled by automated software" infobar at the top, thought I add `disable-infobars` option. This option still works when I use pure Selenium (see code below).

## Code To Reproduce Issue

[code]

[2019-01-29 23:48] asolntsev commented on #902
@nikita-prikazchikov The problem is that you initialize selenide elements **before** opening a browser:

[code]

This is exactly the problem described in [Selenide 5.0.0 release notes](https://ru.selenide.org/2018/10/10/selenide-5.0.0/)

We intentionally disallow it in Selenide 5.0.0 because we believe it's a weird design.
I recommend you to remove those public fields of type `SelenideElement`, an

[2019-01-29 23:48] #902 closed

[2019-01-30 06:21] BorisOsipov commented on #903
I think it is duplicate of https://github.com/selenide/selenide/issues/676

[2019-02-01 08:13] symonk commented on #903
hmm is this specifically only 'disable-infobars' or we have a more serious issue with options in general?

[2019-02-03 18:47] SeleniumTestAB opened #905 "Add ability to retrieve By variable from SelenideElement"
## The problem
Ability to retrieve By locator from SelenideElement
## Details
The variable stored as SelenideElement should have ability to give it's locator (maybe as getElementLocator or getLocator). This addition would help e.g. extracting options from elements with tag "select".

## Tell us about your environment
* **Selenide Version:**
* **Chrome\Firefox\IE Version:**
* **Browser Driver Versi

[2019-02-05 09:09] btkukinom opened #906 "Configuration.timeout setting is invalid in open () method"
I am using the following.
[code]
In @ Before of the test, we specify the following.
[code]

However, the value of `Configuration.timeout = 1200000;` is invalid when a timeout occurs in the open () method.

[code]

I think that `pageLoad: 300000` is the cause.
Is the timeout setting of the open () method different from that specified by `Configuration.timeout`?

[2019-02-05 22:21] asolntsev opened #907 "Failure of `Selenide.confirm()` reports "null" screenshot and "0" timeout"
## The problem
Run code:

[code]

Result:

[code]

[2019-02-06 09:49] testowysel opened #908 "Problem with run tests in different browser than chrome (Selenide+TestNG+...)"
Hi,
I'm new here. I have problem with running tests with different browser than Chrome. I'm using Selenide+TestNG + some other stuff (see my pom.xml below). In example I've tried to open IE using:

System.setProperty("webdriver.ie.driver", "src\\test\\Resources\\IEDriverServer.exe");
 System.setProperty("selenide.browser", "Internet Explorer");

but it doesn't work.  Chrome browser  is opened.

Sa

[2019-02-06 10:30] evgeny-tumashchick commented on #908
Hi. To set needed browser type I use

import com.codeborne.selenide.Configuration
Configuration.browser = "firefox"

**In your case use "ie"**

Following documentation description for this Selenide property
 /**
   * Which browser to use.
   * Can be configured either programmatically or by system property "-Dselenide.browser=ie".
   * Supported values: "chrome", "firefox", "legacy_firefox", "ie",

[2019-02-06 10:32] osyanin commented on #908
And Selenide handles webdriver automatically.

[2019-02-06 10:57] testowysel commented on #908
Cool, it works. Checked with IE (works very slowly but works) , Firefox and Edge Thanks for quick response.

Last question. How set maximized window.
Now I have:
  Configuration.startMaximized = true;

![window](https://user-images.githubusercontent.com/47357145/52336838-44907900-2a06-11e9-8915-a0b90c835513.png)

Regards
Tomes

[2019-02-06 16:51] symonk commented on #906
we are probably not polling often for checking page is loaded with open and I really don't know if we should or want to be.  I will look at this tonight to see.

[2019-02-06 18:43] symonk commented on #908
`WebDriverManager.iedriver().setup();`

The above does nothing for the driver instantiation, this just directs webdriver manager to aquire the binary if necessary.  you simple want to set the `Configuration.browser = "ie";`

Also: be careful of using slashes, try to use `File.separator();` instead for cross platform execution, for maven try to put versions inside your <properties> and reference th

[2019-02-06 20:24] #908 closed

[2019-02-06 20:28] asolntsev commented on #905
@SeleniumTestAB It's not always possible. For example, if SelenideElement is created like this:

[code]

Instead, method `SelenideElement.toString()` returns the selector. It should be enough to understand which element it was.

P.S. You can extract options from select just by executing
[code]

[2019-02-06 20:28] #905 closed

[2019-02-06 20:32] asolntsev commented on #906
@btkukinom @symonk `Configuration.timeout` is used when finding elements and checking conditions. For page load timeout, there is a separate setting. You can set it via webdriver api: `getWebDriver().manage().timeouts().pageLoadTimeout(30, SECONDS);`

[2019-02-06 20:32] #906 closed

[2019-02-06 20:42] asolntsev commented on #900
@kieranshaw The problem is that getting name of test class/method depends on testing framework (JUnit, TestNG, Spek, Spock etc). Currently Selenide doesn't depend on any testing framework. So the only option is to provide user possibility to implement his "strategy" for getting screenshot name.

But is this really needed? When test fails, Selenide adds a screenshot name to the error message. It sh

[2019-02-06 20:52] asolntsev commented on #873
@BlackwellQA Well, it was not a bug, it was an intentional change because I believed it will cause better design of tests. :)
But now I see that it causes a big inconvenience for you (and not only you), so I should probably change my mind. :)

But still, don't you think that having 800+ fields in a single class is a bad design? I mean, BAD design? It breaks all principles of software disciplines l

[2019-02-06 21:01] asolntsev commented on #853
@Mcseemkaz I cannot reproduce your problem. I have been using Chrome+headless+proxy in my test for several years, and they work all the time. I guess your problem could be caused by mismatching versions of chrome and chromedriver.

[2019-02-06 21:21] Blackwell174 commented on #873
@asolntsev Thank you for your reply Andrei :)

I managed to get everything working by adding By and $() everywhere, which is not bad but more things to type when with just elements collection looks a bit cleaner :) The error was very confusing and I tried to rewrite my browser factory and everything, but issue was that elements were before page opening separated from the tests.

Design wise I unde

[2019-02-06 23:03] kieranshaw commented on #900
Fair enough Andrei, was just thinking it'd be nice to provide it built in. I've found it useful to implement this myself in the past when there is a large test suite so that you can easily capture a bunch of screenshots for a test, browser log info, failure shots, etc...and dump them in a directory for each test.

Would you be interested if I implemented a way for someone to plug in a screenshot s

[2019-02-07 04:56] asolntsev commented on #900
Yes, why not. Feel free to implement it.

On Thu, Feb 7, 2019, 01:03 kieranshaw <notifications@github.com wrote:

[2019-02-07 11:00] pavel-kolesnikov commented on #862
@asolntsev
Lets consider this example. For me it looks completely valid. And 2nd call to body.should fails. Is this still not a bug?

[code]

[code]

[2019-02-07 14:08] asolntsev commented on #862
@pavel-kolesnikov it seems a very strange design for me. Why do you need a static field? Why do you need to reuse variable for different objects?

We can argue if it was a good idea, but yes, current Selenide 5.+ behavior prohibits such usage.

[2019-02-07 14:30] pavel-kolesnikov commented on #862
Then it seems for me, it should be clearly stated in the documentation, that:

1. neither SelenideElement, not Selenide itself is not threadsafe;
1. SelenideElements must not be used in the static context;
1. SelenideElements  must not be saved anyhow for prolonged use;
1. SelenideElements should be expected to live no longer than the method they're constructed in.

Do I undesrtand the current con

[2019-02-08 11:33] pavel-kolesnikov commented on #862
And the actual design for the usage is below. Do i understand it correctly, we're not allowed to do this, and better use "standard" PageObjects, which should be constructed with `new` or `page()`
[code]

[2019-02-08 11:52] asolntsev commented on #862
@pavel-kolesnikov

Not exactly, but close. My version is below:

  1. both SelenideElement and Selenide are threadsafe. Every thread gets its own webdriver instance.
  2. SelenideElements can be used in the static context (unless one SelenideElement instance is used in multiple threads concurrently)
  3. SelenideElements  must not be saved anyhow for prolonged use - yes, in some sense it's true (i

[2019-02-08 13:25] pavel-kolesnikov commented on #862
Thank you for the clarification. Will alter my code to be compliant with the current policies.

[2019-02-11 14:46] parfyonovavera opened #909 "SelenideElement hover() throws NoSuchMethodError: org.openqa.selenium.interactions.internal.Locatable.getCoordinates()Lorg/openqa/selenium/interactions/internal/Coordinates;"
## The problem
SelenideElement hover() throws NoSuchMethodError: org.openqa.selenium.interactions.internal.Locatable.getCoordinates()Lorg/openqa/selenium/interactions/internal/Coordinates;

## Details
UIAssertionError NoSuchMethodError: org.openqa.selenium.interactions.internal.Locatable.getCoordinates()Lorg/openqa/selenium/interactions/internal/Coordinates;

Caused by: java.lang.NoSuchMethodError

[2019-02-12 14:41] DieterRogiest commented on #218
@asolntsev, at my new job developers have introduced a popup that sometimes does not appear (and they don't want to fix that flakiness) so our test uses a try/catch.
At first I tried to catch a NoSuchElementException mentioned in "Caused by: NoSuchElementException: no such element: Unable to locate element:" , as I didn't realize that the "Element not found" a few lines before means the Selenide e

[2019-02-12 15:21] evgeny-tumashchick commented on #218
@DieterRogiest, if you know that your test works with flaky elements, which is of course not very good, so why don't you just add some check for this element not to get exceptions
if( myFlakyElement.isDisplayed() ) {
processPopup()
}

[2019-02-12 15:27] DieterRogiest commented on #218
@evgeny-tumashchick, we have to wait with a waitUntil till the popup appears and if it doesn't that waitUntil throws the exception:
getPopupCloseButton().waitUntil(Condition.visible, 15000);
getPopupCloseButton().click();

[2019-02-12 16:04] evgeny-tumashchick commented on #218
@DieterRogiest, for this cases you can also use fluent wait that waits element with polling but not throw exception. It is based on WebDriverWait with ignoring exception condition. Actually I don't know does Selenide have such waits. Sorry for a small off topic from main issue

[2019-02-15 10:38] Gnafu commented on #630
I had this exact need for a project I jumped in recently.
If you have to change only the desired capabilities, and your capability is listed in the com.codeborne.selenide.Configuration file, you can just set them as suggested by @SergeyPirogov

Configuration.browserCapabilities

Have a look at the AbstractDriverFactory.java as well, because the "pageLoadStrategy" is used alone, so you can set it w

[2019-02-18 16:58] pavelpp opened #911 "NPE when checking isDisplayed"
## The problem
Occasionally this error happens. Not sure what's the exact scenario to reproduce. Perhaps there was some problem with RemoteWebdriver, as I'm running chrome in a container.

## Details
See stacktrace:

[code]

## Tell us about your environment
* **Selenide Version:** 5.1.0
* **Chrome\Firefox\IE Version:**  Chrome container selenium/standalone-chrome-debug:3.141.59

## Code To Reprod

[2019-02-19 19:58] BorisOsipov commented on #911
As I see it is NPE into selenium `RemoteWebElement.java`...

[2019-02-20 14:04] AlexanderPoleschuk opened #913 "Enhancement: add .otherwise() method with custom error message"
## The problem
Add an ability to provide custom error message for a condition through _.otherwise()_ method.

## Details
Currently conditions like
$$(locator).shouldHaveSize(1)
throw smth like
ListSizeMismatch : expected: = 1, actual: 2, collection: ...
Elements: [
]
error in case condition is not met.
It would be nice to have _.otherwise()_ method where automation person may state a custom messag

[2019-02-20 17:21] ostap-oleksyn commented on #913
Selenide already has a similar method:
```$$(locator).shouldHave(size(1).because("More than one item is found on the page!"));```

[2019-02-20 17:55] tamasmartin opened #914 "Opening a blank page."
## Question
I have just started using Selenide. I have a question: is it possible to open a blank page in Selenide with the open(String url) method?
Thanks.

[2019-02-20 17:58] asolntsev commented on #914
Hi Tamas.
Welcome to the club! :)

I am not sure, probably, something like open("about:blank") could work.

But why do you need it? Typically nobody needs to test the empty page.

On Wed, Feb 20, 2019, 19:55 Tamas Martin <notifications@github.com wrote:

[2019-02-20 19:49] tamasmartin commented on #914
Thank you for your answer, that does not work, I tried that first. I need it in the before method to avoid some errors. When the previous test case ends up on a page with a specific URL, the next step will not reload the page if the URL is the same. So I tried to load a blank page in the before step.
What I could do is creating an own WebDriver instance and pass it to Selenide. The simple open() w

[2019-02-20 23:36] vinogradoff commented on #914
Selenide.reload(); ?

On 20. February 2019 at 20:49:19, Tamas Martin (notifications@github.com)
wrote:

[2019-02-21 06:47] asolntsev commented on #914
Yes, we also open an empty page before every test. It's a good idea. We
created our own empty page which also clears cookies, localStorage etc.

How creating your own webdriver instance can help?

On Wed, Feb 20, 2019, 21:49 Tamas Martin <notifications@github.com wrote:

[2019-03-01 21:00] sadsridh commented on #887
I am trying to update Selenide from version 4.8 to 5.2.0
I am getting the below error when running the test on Jenkins running Grid 2 version 2.53
Posting this issue here because I am not sure if the errors I am seeing is due to a Selenium Grid version mismatch or due to https://github.com/selenide/selenide/issues/873
However I do not have any selenide element being declared before open() and the

[2019-03-01 21:49] sadsridh opened #916 "JSONException when trying to upgrade to Selenide 5.2.0 with Selenium Grid 2 version 2.53"
## The problem
I am trying to update Selenide from version 4.8 to 5.2.0 But I am getting the below error when running the tests on Jenkins that is running Selenium Grid 2 version 2.53.

I want to confirm if this due to the older Selenium Grid 2 version 2.53 ?

As updating the Grid on the jenkins is a larger effort as there are other UI frameworks that still use older version of Selenium.

## Detai

[2019-03-01 22:43] asolntsev commented on #916
Hi.
It seems that you have two problems.

1. Caused by the fast that Selenium Grid is too old (2.53). You need to upgrade to the latest version.
2. When tests failed to start Grid, they get another in method `cleanupSpec`.

[code]

To fix this, you need to add `if (WebDriverRunner.hasWebDriverStarted())` before calling `WebDriverRunner.getWebDriver()`.

[2019-03-01 22:43] #916 closed

[2019-03-01 22:44] asolntsev commented on #887
@mplushnikov Any feedback?

[2019-03-01 22:44] #887 closed

[2019-03-05 13:14] sadsridh commented on #916
Thanks @asolntsev  !

[2019-03-08 09:49] monterson opened #917 "Driver session on BrowserStack is not closed on Selenide >5.0.1"
## The problem
Hi, I have a problem with the BrowserStack & Selenide >5.0.1.
It looks like the session is not correctly closed.

## Details
Everytime when I start the tests (JUnit4) there is a timeout on browserstack. It happens on all browsers. Everything worked fine on Selenide 5.0.1.

![image](https://user-images.githubusercontent.com/23195039/54020770-dec31880-418e-11e9-851a-9ca50c0225f4.png)

[2019-03-08 09:58] vinogradoff commented on #917
Please try with just

Configuration.remote="http://" + username + ":" + accessKey + "@" +
ConfigReader.config.get("server") + "/wd/hub”;

instead, settings capabilites over System.properties

https://selenide.org/2016/12/30/selenide-4.2/

[2019-03-08 10:10] monterson commented on #917
Hi, thanks for quick answer.
I changed it but unfortunately it did not help. I still get the timeouts on browserstack. Test is executed but session is not closed. I believe something implemented in Selenide 5.1.0 causes this problem or my code is somehow not compatible with this version.

[2019-03-08 10:14] vinogradoff commented on #917
Now you dont create the driver yourself, right?

Then yes, actually Selenide must have closed it at the end. If you use
setWebDriver still - then it is more difficult to tell what went wrong)

On 8. March 2019 at 11:10:42, monterson (notifications@github.com) wrote:

[2019-03-08 10:23] monterson commented on #917
Ah!
You are right! Thank you @vinogradoff . I changed wrong initialization method. Now everything is fine. You can close this ticket.

[2019-03-08 10:23] #917 closed

[2019-03-11 18:02] sadsridh commented on #201
hi,
I upgraded to selenide 5.2.0 and still see this issue with elements having zero opacity.
From the changelog for Selenide version 5.1.0 which says this is fixed..
#201 can click elements with zero opacity -- thanks to @vinogradoff for PR #874

[2019-03-11 18:06] asolntsev commented on #201
@sadsridh Yes, it should be fixed.
Can you provide html code and exact error message with full stack trace?

[2019-03-11 18:14] sadsridh commented on #201
[code]

[2019-03-11 18:57] sadsridh commented on #201
@asolntsev ,
After further debugging the actual issue is because a collapsible that displays a list of buttons after its clicked does not seem to acknowledge the click() and so it never expands to display the '-editButton' in the above element and so it is flagged with displayed:false which is correct !

However, after watching the test during debug the below element
![image](https://user-images.g

[2019-03-11 22:06] ivalitov commented on #873
I preapare instances of page objects before running parameterised tests via Juni5 ArgumentsProvider. Page objects already includes fields and actions with $. Before each paremeterised test execution choosing browser.
If browser changes from default, it produses that problem..

[2019-03-13 09:40] tee-dee opened #919 "getThrowable() unexpectedly returns NPE when running tests in Selenium Grid"
## The problem
Running in SeleniumGrid (Zalenium/docker-selenium) and using AssertionMode = SOFT, the `org.testng.ITestResult` object `getThrowable()` method returns `java.lang.NullPointerException` when failure(s) occur.

Expected: `com.codeborne.selenide.ex.SoftAssertionError` (with the failure message(s)) [NOTE: this is working when running locally/non-grid]

In our project we are using the inf

[2019-03-14 09:32] tee-dee commented on #919
I forked the current version (5.2.2-SNAPSHOT) and used it in our project. This problem seems to have been fixed. Is there an issue number where this has been addressed?

[2019-03-14 10:13] tee-dee commented on #919
Confirmed it's the webdrivermanager causing this issue. Version 3.3.0 (included in future release 5.2.2 of Selenide) will resolve this issue

[2019-03-14 10:18] tee-dee commented on #919
Side note: I had to add the following dependencies to my project to be able to use the selenide jar I built using `./gradlew jar`, to avoid getting ClassNotFound runtime exceptions

        <dependency>
            <groupId>org.apache.httpcomponents</groupId>
            <artifactId>httpclient</artifactId>
            <version>4.5.6</version>
        </dependency>
        <dependency>

[2019-03-14 11:58] violetastegaru opened #920 "Selenide 5.2.1 cannot download ChromeDriver 73.0.3683.68 on Windows 10 for Chrome v. 73.0.3683.75"
## The problem
While using the latest release for Selenide 5.2.1, we cannot run our tests on Windows 10 with Chrome 73.0.xxx since we get the following error:
Mar 14, 2019 12:48:10 PM com.codeborne.selenide.drivercommands.LazyDriver getAndCheckWebDriver
INFO: No webdriver is bound to current thread: 1 - let's create a new webdriver
[03-14 12:48:10][main] INFO  io.github.bonigarcia.wdm.WebDriverMan

[2019-03-14 15:44] asolntsev commented on #920
Have you tried to clear WDM preferences?

* For Windows: https://twitter.com/Anton94569401/status/1105776214940270594?s=19
* For Linux: https://twitter.com/jselenide/status/1105757355017490432?s=19

[2019-03-14 18:23] violetastegaru commented on #920
Hi Andrei,

Thank you very much for sharing the fix with us.
I have cleaned up the WDM preferences and it works as expected without the workaround.

Thank you,
Vio

[2019-03-14 18:23] #920 closed

[2019-03-17 11:24] wengxiaofeng opened #921 "getCurrentUrl"
can not get current url
selenium webdriver support it

public interface WebDriver extends SearchContext {
    String getCurrentUrl();

[2019-03-17 15:26] evgeny-tumashchick commented on #921
Use
Selenide.open( your url here  )
Full description here:
com.codeborne.selenide.Selenide#open(java.lang.String)

[2019-03-17 15:29] evgeny-tumashchick commented on #921
WebDriverRunner.url()

Full description here
com.codeborne.selenide.WebDriverRunner#url

[2019-03-17 18:00] #921 closed

[2019-03-18 21:49] g-one commented on #201
Even i'm facing the same issue with 5.2.2 version.

<a class="automation-text" tabindex="-1" style="text-transform:uppercase;" data-bind="text: name, attr: { href: route, id: id }, css: { 'selectedStoreSubNav': window.location.href.contains(route) || (route.startsWith('/') &amp;&amp; window.location.href.contains(route.substring(1))) }" href="/test/test-only" id="7b1ddf0f-4189-e811-a959-000d3a981a

[2019-03-18 23:52] zutshishweta opened #922 "java.lang.IllegalStateException: No webdriver is bound to current thread: 1. You need to call open(url) first."
## The problem
I am trying to group my selenide tests using TestNG annotation and adding the groups in  testng.xml. But I am getting the following exception while running it:

[code]

## Details
I am running the test on chrome, seems to have the correct project structure, I think. Not sure, why am I getting this exception.

## Tell us about your environment
* **Selenide Version:** 5.0.1
* **TestNG

[2019-03-18 23:55] vinogradoff commented on #922
It is not an exception, it is a warning telling you that messages from
third party libraries won't be logged. You can ignore it for now

On 19. March 2019 at 00:52:27, zutshishweta (notifications@github.com)
wrote:

[2019-03-19 06:40] thasherwin commented on #913
Because is not always working. When i use the below situation i don't see the text written using the because.

`$(locator).waitUntil(not(text("Submit").because("When the Submit button is clicked the page should update")),10000);`

[2019-03-19 06:52] ostap-oleksyn commented on #913
@thasherwin You should call because() on the most outer condition - not():
```$(locator).waitUntil(not(text("Submit")).because("When the Submit button is clicked the page should update"),10000);```

[2019-03-20 07:36] tee-dee commented on #919
Another side note: In addition to upgrading Selenide to version 5.2.2, I had to bump TestNG version to 6.9.10.

[2019-03-25 07:54] symonk commented on #919
thanks for a very informative post @tee-dee.  I think we might have plans here to remove WDM as a dependency, it looks like rosolko has a repo for a new WDM equivalent

[2019-03-25 07:56] symonk commented on #892
@asolntsev @rosolko looks like we have surpassed the milestones here, should we modify them again?  5.2.2 was released I think

[2019-03-29 15:17] yuliiakholina commented on #861
I've faced the same issue. I use Web Driver Manager, so logically versions of Chrome and Chrome driver should be the same. Google Chrome 73.0.3683.86.
It happens for both methods
page()
open()

[2019-04-01 10:44] gschukin opened #923 "Migrate from jul to slf4j"
## The problem
Migrate to slf4j from java.util.logging as it is almost defacto api for logging
## Details
Currently selenide using jul for logging, but also have a dependency on webdrivermanager that use slf4j. It would be nice to unify and have one logging configuration entry point without the need to play with jul bridge and java.util.logging.config.file configuration.

## Tell us about your env

[2019-04-01 12:01] asolntsev commented on #923
Sounds reasonable.
Though, WebDriverManager is optional, and there can be users who don't want to use SLF4J nor WDM. But it's rather theoretical risk.

[2019-04-01 12:14] gschukin commented on #923
browsermob also use slf4j

I can make PR if you'd like to

[2019-04-03 13:06] pashidlos opened #925 "WebDriverRunner.getSelenideProxy() returns null if create webdriver with custom provider"
## The problem
I'm using RemoteWebDriver for running tests in Selenoid
so I'm using custom webdriver provider
using it with proxy it works for blocking requests
but when I was about to and request/response filters I always get `null` when call `WebDriverRunner.getSelenideProxy()`

If you use default way of creating driver it's not reproducible

Am I doing anything wrong?

## Tell us about your env

[2019-04-04 03:41] g-one commented on #862
@asolntsev
I have created all my page objects using **$** as static elements and we havent run all tests as a suite but didnt realize Selenide doesnt support using these static elements in all functions in given page. But as per your earlier comment your saying need to call **$** only where element is needed then how about if the same element need to use by multiple functions in the same class? No

[2019-04-04 05:17] asolntsev commented on #862
@g-one easy, easy. :)
 fortunately, there is an easy solution. Just remove word `static` from fields. Now your page object should look like this:

[code]

[2019-04-05 06:37] Lewka opened #928 "Add proper logs if webdriver initialization fails"
## The problem
Hi, when web driver init is failing, then we get only one logs, like this

`java.lang.IllegalStateException: No webdriver is bound to current thread: 19. You need to call open(url) first.`

This logs doesn't tell us anything, only that we couldn't init webdriver.
What we would like to see? THE reason of failing.
The actual reason is "suppressed" in `Navigator` class in `catch` block

[2019-04-05 06:42] Lewka commented on #922
Try to run your code in debug, add a breakpoint in Navigator class, in `navigateTo` method, in `catch` blocks, and u'll see actual reason of failing.

[2019-04-05 11:35] pavel-kolesnikov commented on #862
@asolntsev

should the method be `static`?

[2019-04-05 11:36] pavel-kolesnikov commented on #862
nah, stupid comment from me, sorry

[2019-04-09 11:39] g-one commented on #862
@asolntsev Thank you, i tried all other options except this :). Seems like $(byText) having issues with new version 5.2.0. Will create log the details in new issue.

[2019-04-11 04:57] g-one commented on #922
I'm getting the same error. TestNG xml works without groups but when we add groups then we are getting the following error:

`java.lang.IllegalStateException: No webdriver is bound to current thread: 13. You need to call open(url) first.
        at com.codeborne.selenide.drivercommands.LazyDriver.getWebDriver(LazyDriver.java:67)
        at com.codeborne.selenide.impl.ElementFinder.getSearchContext

[2019-04-11 06:06] Lewka commented on #922
@g-one have you tried to run in debug mode?

[2019-04-15 22:31] abzhasso opened #929 "download() function + Selenoid: HTTP Status: '404' when other tab was opened before using the function"
## The problem
download() function doesn't work with Selenoid if the other tab was opened before using it.

## Details
download() function doesn't work if the other tab was opened before using it.
Test crushes with such logs:
[code]
I tested some variants and found that it persists with my environment with Selenoid.
I tried to use without Selenoid, with Firefox on Win10 - worked!
Maybe it's Seleno

[2019-04-16 06:04] abzhasso commented on #929
As a workaround:
[code]

[2019-04-23 11:03] Lewka opened #930 "Change applyNull method to not final method"
## The problem
Hi. Could you change method
[code]
In `Condtion` class to not final method? Cause we've faced situation, when element doesn't exist on the page, and I wanna check something else in my custom condition, and now all I can do, it's just pass an argument `true` to `Condition` constructor, and then i'll get a `null` instead of error. But it's not what we want.
We want to check another co

[2019-04-25 09:21] ravxz opened #932 "Eliminate dependencies clash (enforcer)"
## The problem
We use Selenide libraries in our maven project and apply Enforcer plugin to check for dependencies versions clashes. Selenide artifacts has such issues and we have to calculate dependency exclusions each time new Selenide release is issued.

## Details
Below is extract from our pom.xml for Selenide dependencies inclusion:

    <dependencyManagement>
        <dependencies>

[2019-04-25 10:34] rosolko commented on #932
@ravxz Didn't catch the issue in general. What is your problem? Which solution do you waiting for at the final?

[2019-04-25 12:42] ravxz commented on #932
@rosolko, the problem is that Selenide depends (transitively) on maven artifacts with the same groupId+artifactId but with different versions. Maven Enforcer plugin fails our build when it finds such dependency versions collisions. To sort this out we figure out exclusions to dependency section for Selenide for each its new release. That work could be done by Selenide project automatically.

[2019-04-25 12:44] rosolko commented on #932
@ravxz Sound like it isn't a selenide problem. Any of artifacts can contain overridden by you dependency. Look like it's plugin problem.

[2019-04-25 12:44] #932 closed

[2019-04-25 13:17] ravxz commented on #932
@rosolko , actually Selenide uses maven libraries which use different versions of other libraries. That could be issue in future. In maven project it's possible to exclude clashed versions of maven artifacts in dependency/exclusions tag.  For gradle there are similar plugins.

[2019-04-25 13:27] Drenjy opened #933 "Starting with Selenium 3.141.59, org.openqa.selenium.internal breaks since the package name changed for WrapsElement"
## The problem
Starting with Selenium 3.141.59, code breaks since the package name changed for WrapsElement and Locatable from org.openqa.selenium.internal to org.openqa.selenium. The interface org.openqa.selenium.internal.WrapsElement was left in the code base, and thus, existing imports are happy.

Consider moving imports org.openqa.selenium.internal.WrapsElement to avoid confusion.
![not import

[2019-04-30 12:47] yuraku commented on #909
Hi. Are there any updates on it? I'm facing the similar issue
`org.openqa.selenium.interactions.internal.Locatable.getCoordinates()Lorg/openqa/selenium/interactions/internal/Coordinates;
java.lang.NoSuchMethodError: org.openqa.selenium.interactions.internal.Locatable.getCoordinates()Lorg/openqa/selenium/interactions/internal/Coordinates;
	at org.openqa.selenium.interactions.internal.MouseAction.ge

[2019-05-04 17:22] asolntsev commented on #914
fixed in Selenide 5.2.3

[2019-05-04 17:22] #914 closed

[2019-05-05 08:53] jimmyjavid opened #936 "Cannot use the same driver for SeleniumWebDriver and Selenide in single Framework."
## In my existing framework I use driver.get("") of selenium WebDriver to open a browser and I am looking to integrate selenide in my existing framework.
       I use the following code :
                System.setProperty("webdriver.gecko.driver", "/Applications/geckodriver");
		WebDriver driver = new FirefoxDriver();
		webdriverContainer.setWebDriver(driver);
		Selenide.open("https://www.google.

[2019-05-05 08:58] rosolko commented on #936
Provide more information in description, what and how do you trying to do and what expected behavior.

[2019-05-05 09:10] jimmyjavid commented on #936
@rosolko  actually the problem that I am facing here is the driver returned by driver.get("") of selenium cannot work with selenide. And if I use open of selenide it only works with selenide commands.

and when I try to set webDriver of Selenide using
webdriverContainer.setWebDriver(Seleniumdriver);
before writing Selenide.open()...so that same driver could be used for both in one single browser.

[2019-05-05 09:12] thasherwin commented on #936
Please use WebDriverRunner.setWebDriver(driver)

[2019-05-05 09:16] rosolko commented on #936
It is logical that different tools operate with different objects.
`WebDriverRunner.setWebDriver(driver)` allows you to work with selenium webdriver using selenide.
And `WebDriverRunner.getWebDriver()` allows you to get selenium webdriver instance fro, selenide.

[2019-05-05 09:16] #936 closed

[2019-05-07 15:04] asolntsev commented on #933
I don't understand if it actually causes problems, or is it just a warning? We run tests on Selenium 3.141.59 and Selenide 5.2.2, and everything works well.

Yes, sure, we will remove usages of deprecated classes. We left them for some time to keep backward compatibility (for those who needs to use previous Selenium versions).

[2019-05-07 20:58] asolntsev commented on #892
@symonk thank you. Marking this issue as resolved (actually in December 2018) :)

[2019-05-07 20:58] #892 closed

[2019-05-09 21:26] abzhasso commented on #929
I noticed that sendKeys method doesn't work anymore. It is very slow and also may throw "INFO: HTTP Status: '404' -> incorrect JSON status mapping for 'unknown error' (500 expected)". But it seems It was Selenium issue. I downloaded the new version of IEDriverServer.exe from here - https://github.com/SeleniumHQ/selenium/blob/master/cpp/prebuilt/Win32/Release/IEDriverServer.exe
and it fixed my prob

[2019-05-09 21:26] #929 closed

[2019-05-13 19:43] asolntsev commented on #923
See PR https://github.com/selenide/selenide/pull/926

[2019-05-15 08:40] Skaramus1990 commented on #873
Hi, I have the same problem.
I using Spring Boot in my tests. When I run tests in many threads, I have this exception. Only 1 from 5 thread works fine. If I added in my object @Scope(value =ConfigurableBeanFactory.SCOPE_PROTOTYPE, proxyMode = ScopedProxyMode.TARGET_CLASS) all works fine. Or if i write = new MyObject(); before calling element's method. I think problem with the initialization of the

[2019-05-15 09:01] Skaramus1990 commented on #873
In @Scope the interfaces was added  proxyMode = ScopedProxyMode.TARGET_CLASS. It solved my problem.

EXAMPLE:

Target (TYPE)
@Retention (RetentionPolicy.RUNTIME)
@Component
@Scope ("thread", **proxyMode = ScopedProxyMode.TARGET_CLASS**)
@Inherited
public @interface PageObject {}

[2019-05-17 10:14] SeleniumTestAB opened #937 "Wrong arguments passed to methods nested in SelenideWait class"
## The problem
Wrong arguments arenpaased to methods inside SelenideWait constructor.

## Details
When using method switchTo().alert() i found that nested Wait() method that uses class SelenideWait throws NoSuchMethodException. It is due to wrong arguments passed to nested methods of SelenideWait constructor. Methods are withTimeout(), pollingEvery().

## Tell us about your environment
* **Selenid

[2019-05-17 11:00] SeleniumTestAB commented on #937
Okay it turns out that parent pom of the project used some old dependency for selenium_support package.

[2019-05-17 11:00] SeleniumTestAB commented on #937
Okay it turns out that parent pom of the project used some old dependency for selenium_support package.

[2019-05-17 11:00] #937 closed

[2019-05-21 14:17] VladislavShcherba commented on #862
Yes, this is unfortunate stuff.
The idea was to use just `LoginPage.login()` instead of instantiating LoginPage object...
But having SelenideElement-s as static fields is forbid to open/reopen browser during execution of test suite...

[2019-05-23 08:57] harshtuna opened #938 "Misleading chromeoptions.args documentation"
## The problem
Configuration javadoc suggests wrong chromeoptions.args format

## Details
https://selenide.org/javadoc/current/com/codeborne/selenide/Configuration.html

Comma separated list does not work with chromedriver 74. Cromedriver for win32 supports **space** as separator, chromedriver for linux does not allow separators, each option should be a separate element in the args array

## Tell

[2019-05-23 09:03] BorisOsipov commented on #938
cc @vinogradoff as I know you are a fan of this way of passing chrome options

[2019-05-23 09:04] BorisOsipov commented on #938
@harshtuna I will be nice to see some link to chromedriver docs/code as proof. Can you share your findings?

[2019-05-23 10:01] harshtuna commented on #938
chromedriver docs on this subject are missing.
Actually Selenide is properly parsing chromeoptions.args, false alarm, sorry
Odd win32 behavior is in chromedriver - they've got non-documented feature which injects dev tool extension even if **--disable-extensions** specified

[2019-05-23 10:01] #938 closed

[2019-05-23 10:02] harshtuna commented on #938
chromeoptions.args format in Selenide Javadoc is **correct**

[2019-05-23 10:33] harshtuna commented on #938
Chromedriver disable extension issue in SO https://stackoverflow.com/questions/56273279/how-to-disable-all-chrome-extensions-using-chromedriver

[2019-05-23 13:12] theolice opened #939 "Selenide-thrown exception not catched"
## The problem
When Selenide searches for an element and that element isn't found, the resulting exception isn't caught by a try/catch. Instead of entering a try/catch it crashes/stops the whole running instance.

## Details
I'm attempting to use Selenide to automate multiple consecutive actions. Some of those actions should be able to run even though a previous action/check failed. In example giv

[2019-05-23 13:21] BorisOsipov commented on #939
@theolice you have to catch UIAssertionError error. It inherits from
java.lang.Error -> java.lang.AssertionError -> com.codeborne.selenide.ex.UIAssertionError

so you can't catch it by `catch (Exception e) {`

[2019-05-23 13:21] #939 closed

[2019-05-23 13:21] BorisOsipov commented on #939
e.g.
[code]

[2019-05-23 13:29] theolice commented on #939
Thanks! This has indeed fixed my problem 😃

[2019-05-24 16:28] VatslauX commented on #933
Compilation failed

[2019-05-25 00:47] admizh commented on #190
Yummy! https://github.com/SeleniumHQ/selenium/pull/7212

[2019-05-27 06:47] asolntsev commented on #113
@jkromski Sorry for the delay. It's important topic, I just lost it in my inbox. :(

And I don't see any problems with discussions. It's the essence of open source. It's the essence of community. It's the essence of democracy. We MUST discuss things. :)

I am afraid it's too hard (if impossible) to define such rules. I would suggest something like:

As you see, all these criteria are highly subjec

[2019-05-27 06:57] symonk commented on #113
I don't think we should build it into the core library here,  A selenium custom listener can handle this if any user so wants too but in my opinion the use-case is very small.  Typically we do not 'watch' the automated tests running all the time, so I don't see what type of benefit this can offer.

[2019-05-27 12:01] metalmolly commented on #201
Looks like I'm facing the same issue since I updated from 5.1.0 to Selenide 5.2.0 as some test scripts fail when being run headless with Chrome. The following error message is displayed:
[code]
Strange is that the capture screenshot doesn't show the complete browser window, as it seems to be 'truncated'. Only a part of the browser window is captured. The part that's missing has the element (.label

[2019-05-27 12:03] BorisOsipov commented on #201
@metalmolly it seems chromedriver\chrome issue, not selenide, isn't it?

[2019-05-27 12:51] metalmolly commented on #201
@BorisOsipov but for me that doesn't explain why headless works using the same driver version with 5.1.0?

[2019-05-27 20:00] jlentink commented on #399
@symonk Any news on this?

[2019-05-28 12:52] SeleniumTestAB commented on #913
The ```because()``` method goal (as i see it) is to explain more in depth why we expect this test or assertion to pass but does not explain possible way of failure of such assertion. For better example lets say we expect some kind of input text element to be interactable (exist, visible, and active) because given user role allows it otherwise the element did not appear on page or was blocked durin

[2019-05-28 18:21] sadsridh commented on #201
I see the issue with Selenide 5.2.2 with the below config :
Selenide Version: 5.2.2, Chrome Version: 74.0.3729.131, Browser Driver Version: 2.46
Selenium Version: 3.141.59, OS Version: Windows 10

@asolntsev  This bug fix is one of the main reason we are upgrading to the latest version...

[2019-05-28 19:27] asolntsev commented on #201
@g-one Can you specify what issue exactly are you facing? I tried to click an element with HTML that you provided - and it worked. Also in headless mode.

Probably you could create a new github issue with html and java code (so I could reproduce the problem)?

[2019-05-28 19:29] asolntsev commented on #201
@sadsridh Sorry, I didn't understand which issue do you have in this setup?
Why are you using chromedriver 2.46? I believe Chrome 74 requires chromedriver 74 (not 2.46).
If your problem is still valid, please create a separate github issue with html and java code (so I could reproduce the problem).

[2019-05-28 19:29] #201 closed

[2019-05-30 11:47] rosolko commented on #933
@Drenjy @VatslauX As said @asolntsev you build tool resolve dependency and it's looks like selenium dependency is outdated or invalid and it's not a selenide problem. Inspect your dependencies and exclude outdated selenium dependency for library that it's going from.

[2019-05-30 11:47] #933 closed

[2019-05-30 15:24] dilook opened #943 "Method uploadFile() doesn't work for multiple files if parent tag `form` hasn't existed"
## The problem
Method `uploadFile()` throw `NoSuchElementException`
[stacktrace.txt](https://github.com/selenide/selenide/files/3237628/stacktrace.txt)
 for multiple files uploading on page with input field, but without parent tag form

## Tell us about your environment
* **Selenide Version: 4.13.0**
* **Chrome Version: 74.0.3729.169**
* **Browser Driver Version: chromedriver 74.0.3729.6**
* **OS

[2019-05-30 15:44] asolntsev commented on #943
@dilook It seems reasonable to me. All inputs should be inside `<form>`.

[2019-05-31 09:07] BorisOsipov commented on #943
Hello @dilook,

1) It will be nice if you make some full example (code and corresponding html) to reproduce issue. As I see from your stacktrace your issue that element just was not found in dom.
2) Underhood `$("#real-input").uploadFile(tempFile, tempFile)` doesn't do some magic - it uses usual selenium methods to upload, so it might be selenium issue then

[2019-05-31 13:10] dilook commented on #943
@BorisOsipov
1. It's synthetic example, this real [page.zip](https://github.com/selenide/selenide/files/3241301/page.zip)
2. Selenium method uploadFile() works good for multiple files. Parent form element searching realized in
[com.codeborne.selenide.commands.UploadFile](https://github.com/selenide/selenide/blob/1841ef27e05d7d289228d4296411143eb4a6f1e7/src/main/java/com/codeborne/selenide/commands

[2019-05-31 13:27] BorisOsipov commented on #943
Thanks for researching this! Will see

On Fri, 31 May 2019, 16:10 dilook, <notifications@github.com> wrote:

[2019-06-02 11:46] MichalUrbaniakQA commented on #873
I have the same problem:

@Before(order = 1)
    public void initProperties() throws ReadPropertiesFileException {
        propertiesConfig = new PropertiesConfig();
    }

    @Before(order = 2)
    public void setConfiguration() {
        Configuration.fastSetValue = true;
        Configuration.screenshots = true;
        Configuration.timeout = 15000;
        Configuration.reportsFolder = "repo

[2019-06-04 10:43] Ivanello commented on #558
here is an explanation how to run custom browser with selenide in selenoid
https://medium.com/@rosolko/configure-selenide-to-work-with-selenoid-8835cd6dc7d2

[2019-06-05 14:38] Artem034 opened #945 "Selenide should automatically take screenshot in case of AssertionError Junit(5)"
## The problem
Selenide (ScreenShotterExtention) don`t take screenshots in Junit5 with [Assertions class](https://junit.org/junit5/docs/5.4.0/api/org/junit/jupiter/api/Assertions.html)

## Details
Similar fixed issue in junit4 functionality:
#79 #95

## Code To Reproduce Issue [ Good To Have ]
`
@Test
    @DisplayName("Junit assert without screenshot")
    void googleTest()  {
        open("https:

[2019-06-05 14:44] Artem034 commented on #945
Possible fix: https://github.com/Artem034/selenide/commit/bab82934ea30197235e26a24a3de78184caec4bf

[2019-06-06 21:34] marisabell-PD commented on #922
@Lewka Any update ? Facing the same issue when run in parallel using testng xml

<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
    <suite name="Parallel Tests" parallel="tests" thread-count="1" verbose="10">
<test name="Chrome Tests">
    <parameter name="browserName" value="chrome"/>
    <parameter name="version" value="74.0"/>

    <pac

[2019-06-07 10:43] Lewka commented on #922
@marisabell-PD could u run with my custom version? I just added more logs to Selenide. [link to download](https://gofile.io/?c=SAagxQ)

[2019-06-07 11:44] firyx opened #947 "Create custom SelenideElement methods"
Hello,

what is the best approach to create new/custom SelenideElement methods?

Thanks

[2019-06-07 11:48] rosolko commented on #947
https://github.com/selenide/selenide/tree/master/statics/src/test/java/integration/customcommands

[2019-06-07 11:48] #947 closed

[2019-06-12 20:02] grzegorzgrzegorz commented on #218
I just came across this thread because - surprise - I just need to catch the exception in selenide. I need to take care of tests I didn't write...
All, watch out as this is going to be strong opinion from my side about what I read here, especially at the beginning.

I must say I am just shocked with your ignorance @asolntsev and your incompetency with regards to automated testing. Few polite peopl

[2019-06-14 09:02] #454 closed

[2019-06-14 09:23] asolntsev commented on #454
Will be release in Selenide 5.2.4.

[2019-06-15 20:42] 1986stas opened #951 "Clear Browser Cookies issue in after method postcondition"
## The problem
Hello guys! Thank you for your hard work and selenide framework. It is a very helpful and useful. But I've got an issue/question which is related to
Selenide.clearBrowserCookies();
Selenide.clearBrowserLocalStorage();
Previously when I was using those methods in 4.14.0 version of selenide, they cleared my cache and user was logged out, so that a user had to be logged in again before

[2019-06-18 12:26] 1986stas commented on #951
sorry, my bad)) everything works as expected))

[2019-06-18 12:26] #951 closed

[2019-06-18 12:27] 1986stas commented on #951
sorry, my bad)) everything works as expected))

[2019-06-22 18:10] asolntsev commented on #218
@grzegorzgrzegorz

This is a joke. And now seriously:
1. First of all, I don't see a problem here. The initial question ("why I cannot catch `NoSuchElementException`") was answered in the question itself ("catch `ElementNotFound` instead"). So, my immediate reaction or fix was not needed. No problems to solve.
2. I asked why he needs to catch the exception, he described his need and I suggested a

[2019-06-22 18:23] asolntsev commented on #218
@grzegorzgrzegorz Thank you for sharing your knowledge about test automation. Of course I know that people use Selenium grid and automate complex applications which can be slow. But it doesn't really change anything.

1. To fetch data from 50+ table rows with many cells, I recommend to use more sophisticated approach instead if plain iteration (which is really slow). See http://barancev.github.io/

[2019-06-24 21:08] asolntsev opened #952 "Allow to configure port range for BrowserMob proxy"
## The problem
Some organisations have proxy restrictions. E.g. it's only allowed to run proxy server on a fixed range of ports.

## Details
We need a possibility to setup a port range for Selenide built-in proxy server.

Created from comment https://selenide.org/2019/05/07/selenide-5.2.3/#comment-4514043671

[2019-06-25 06:30] kgyorgy82 commented on #952
Referring to the documentation of browsermob, it's possible with a command line argument. (-proxyPortRange <from>-<to>)

https://github.com/lightbody/browsermob-proxy